.body{
  font-size: 16px;
  font-family: 'Serverless';
}

.newSite {
  h1,h2,h3,h4,h5,h6{
    color: $black_serverless;

    &.white{
      color: $white_serverless;
    }
  }

  h1{
    font-size: 90px;
    line-height: 100px;
    letter-spacing: -2px;
  }

  h2{
    font-size: 48px;
    line-height: 48px;
  }

  .container{
    width: 100%;
    max-width: 1260px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    display:block;
  }

  ul{
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .justifySpaceBetween{
    justify-content: space-between;
  }

  .marg0{
    margin: 0px;
  }

  .pad0{
    padding: 0px;
  }

  .padLeft0{
    padding-left: 0px;
  }

  .padRight0{
    padding-right: 0px;
  }

  .padTop0{
    padding-top: 0px;
  }

  .padBottom0{
    padding-bottom: 0px
  }

  /* basic text helpers*/
  .textLeft{
    text-align: left;
  }

  .textRight{
    text-align: right;
  }

  .textCenter{
    text-align: center;
  }

  .textJustify{
    text-align: justify;
  }

  p{
    margin-top: 0px;
    margin-bottom: 1rem;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: $grey1_serverless;
    font-family: 'SoleilBk';
  }

  p.white{
    color: #fff;
  }
  /* basic text helpers*/
  /* button helpers*/
  .btn{
    display: inline-block;
    font-size: 2rem;
    line-height: .7;
    padding: 17px 25px 19px;
    letter-spacing: .08rem;
    border: 0px;
    text-align: center;
    text-decoration: none;

    &:hover{
      text-decoration: none;
    }

    &:disabled {
      opacity: 0.2;
    }

    &.btnPrimary{
      background: $red_serverless;
      color: $white_serverless;
    }

    &.btnPrimary:hover {
      background-color: $red5;
    }

    &.btnTransparent {
      background: transparent;
      color: $red_serverless;
      padding: 14px 22px 16px;
      border: 3px solid $red_serverless;
    }

    &.btnTransparent:hover {
      background: $light_red;
    }

    &.btnTransparentWhite{
      background: transparent;
      color: $white_serverless;
      padding: 11px 22px 13px;
      border: 3px solid $white_serverless;
    }

    &.btnTransparentWhite:hover {
      background: $light_white;
    }
  }
  /* button helpers*/
}

/*media queries*/
@media (max-width: 768px) {
  .newSite {
    h1{
      font-size: 48px;
      line-height:48px;
    }

    h2{
      font-size: 32px;
      line-height: 32px;
    }
  }
}
/*media queries*/
