.section {
  display: inline-block;
  width: 50%;
  margin: 10.7rem 0;
}

.contentSection {
  margin-right: 10%;
  width: 40%;
}

.description {
  font-family: 'SoleilBk';
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: $grey1_serverless;
}

.titleSection {
  padding-bottom: 20px;
  .title {
    font-family: 'SoleilBk';
    font-size: 4.8rem;
    font-weight: normal;
    line-height: 1;
    letter-spacing: 0.5px;
  }
}

.featureSection {
  padding-top: 48px;
  .title {
    font-family: 'SoleilBk';
    font-size: 2.4rem;
    font-weight: normal;
    line-height: 1.33;
    letter-spacing: -0.4px;
    margin-bottom: 25px;
  }
}

.input {
  margin: 21px 0;
}

input[type='radio'].radioBtn {
  margin-right: 15px;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  outline: none;
  background: #ddd;

  &:before {
    content: '';
    border-radius: 50%;
    display: block;
    width: 8.5px;
    height: 8.5px;
    margin: 4px;
  }

  &:checked:before {
    background: $red_serverless;
  }
}

.formInputGroup {
  label.formField {
    background: transparent;
    margin: 0;
  }

  .formField {
    width: 48%;
    display: inline-block;
  }

  .formField:nth-child(2n) {
    margin-left: 2%;
  }

  .formField:nth-child(2n+1) {
    margin-right: 2%;
  }
}

.formField {
  height: 50px;
  background-color: rgba(39, 39, 39, 0.05);
  width: 100%;
  border: 0;
  border-radius: 0;
  padding: 14.5px 11px;
  composes: input;
  -webkit-appearance: none;

  &:focus {
    outline: none;
  }
}

.formField, .formField::placeholder, .formGroup > label, .placeholder {
  font-family: Serverless;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #8c8c8c;
}

textarea.formField {
  height: 150px;
}
