
.wrapper {
  font-family: "Monaco", Inconsolata, monospace;
  font-size: 17px;
  color: #f8f8f8;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.terminal {
  width: 90%;
  max-width: 600px;
  height: 40%;
  min-height: 350px;
  background: $black1;
  border-radius: 7px 7px;
  transition: box-shadow .3s linear;
  backdrop-filter: blur(6px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.terminal:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.terminalHead {
  width: 100%;
  height: 25px;
  background: #191919;
  border-radius: 7px 7px 0 0;
  display: flex;
  justify-content: start;
  align-items: center;
}
.terminalText {
  padding: 20px 5%;
  line-height: 1.5;
  :global(.command) {
    display: block;
    &:before {
      content: '$ ';
      color: $yellow;
    }
  }
  :global(.comment) {
    color: #b1afaf !important;
    &:before {
      content: '# ';
      color: #b1afaf !important;
    }
  }
}
.terminalText a {
  color: $yellow;
  text-decoration: none;
}

.circle {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 4px;
  font-size: 0;
  font-weight: 700;
  border-radius: 10px;
}
.close {
  background: #ff5c5c;
  border: 1px solid #e33e41;
  margin-left: 7px;
}
.turn {
  background: #ffbd4c;
  border: 1px solid #e09e3e;
}

.expand {
  background: #00ca56;
  border: 1px solid #14ae46;
}

@media (max-width: 768px) {
   .wrapper {
     font-size: 15px;
   }
}
@media (max-width: 440px) {
   .wrapper {
     font-size: 11px;
   }
}
