
.container {
  width: 100%;
  padding: 0px 10px;
  margin-top: 40px;
  margin-bottom: 0px;
  > div {
    border: 1px solid #8c8c8c;
  }
}

  .categories {
    display: flex;
    flex-direction: column;
    @media (min-width: 860px) {
      flex-direction : row;
      > * {
        flex-grow: 1;
        text-align: center;
      }
    }
  }


    .link {
      > .linkLabel {
        border-top: 1px solid #ddd;
        @media (min-width: 860px) {
          border-top-width: 0px;
        }
      }
      &:first-child {
        > .linkLabel { 
          border-top-width: 0px;
        }
      }
    }

    .current {
      composes: link;
      background-image: url('../../../assets/images/dot-grid.png');
      background-size: 100px;
      background-repeat: repeat;
      background-position: center;
    }

      .linkLabel {
        flex: 1;
        height : 100%;
        font-size: .875em;
        line-height: 2em;
        letter-spacing: .036em;
        padding: 10px 15px;
        font-family: 'Helvetica';
        opacity: .75;
        @media (min-width: 860px) {
          font-size: .75em;
          line-height: 1.125em;
          padding: 17px 10px 15px 10px;
        }
      }