.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh !important;
  background-color: $black;
}
.inner {
  width: 980px;
  max-width: 980px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.sub {
  max-width: 650px;
  margin:auto;
  margin-top: 45px;
  p {
    text-align: center;
    width: 100%;
  }
}
.hero {
  margin-top: 60px;
  text-align: center;
  color: #fff;
}
@media (max-width: 768px) {
  .container {
    padding: 0 5%;
    margin: auto;
  }
  .inner {
    width: 100%;
  }
  .sub button {
    font-size: 10px !important;
  }
  .container img {
    width: 100%;
    min-width: 100%;
  }
}
