$height: 60px;
$labelColor: $black1;
$checkboxColor: #000;
.radio {
  color: #3e3e3e;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: $height;
}
.label {
  display: block;
}
