
.container {
  width: 100%;
  padding: 0px 30px;
  margin-top: 60px;
  margin-bottom: 0px;
  > div {
    display: flex;
    flex-direction: column;
    @media (min-width: 760px) {
      flex-direction: row;
    }
  }
  > div > :first-child {
    padding-right: 30px;
  }
}

  .details {
    flex: 1;
    margin: 10px;
  }

    .categoryAndDate {
      display: flex;
      flex-direction: row;
      font-family: 'Helvetica';
      font-size: .875em;
      color: #8c8c8c;
    }

      .date {
        /* padding-left: 5px; */
      }

    .title {
      font-size: 1.5em;
      font-weight: 500;
      margin-top: 18px;
    }

    .description {
      margin-top: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      line-height: 1.25em;
      max-height: 2.5em;
    }

    .authors {
      margin-top: 20px;
      margin-bottom: 20px;
    }

  .imageContainer {
    margin: 10px;
    @media (max-width: 899px) {
      width: initial;
      flex: 1;
    }
    @media (min-width: 900px) {
      width: 400px;
    }
  }

    .image {
      width: 100%;
      border: 1px solid #e9e9e9;
      padding-bottom: 50%;
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover;
    }