.separator {
  display: block;
  position: relative;
  outline: 0;
  border: 0;
  height: 20px;
  &:before {
    content: '';
    background: #000;
    background: repeating-linear-gradient(90deg,#8C8C8C,#8C8C8C 6px,transparent 6px,transparent 12px);
    position: absolute;
    left: 0;
    top: 50%;
    width: 47%;
    height: 1px;
  }
  &:after {
    content: '';
    background: #000;
    background: repeating-linear-gradient(90deg,#8C8C8C,#8C8C8C 6px,transparent 6px,transparent 12px);
    position: absolute;
    right: 0;
    top: 50%;
    width: 47%;
    height: 1px;
  }
}
.icon {
  background-image: url(https://s3-us-west-2.amazonaws.com/assets.site.serverless.com/logos/serverless-logo.svg);
  background-position-x: center;
  background-position-y: 0px;
  background-size: 30px;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  height: 30px;
  width: 30px;
  display: block;
  margin: auto;
}
@media (max-width: 768px) {
  .separator {
    &:before {
      width: 45%;
    }
    &:after {
      width: 45%;
    }
  }
}
