# Project dependencies
.cache
node_modules
yarn-error.log
.idea/

# Build directory
/public
/dist
.DS_Store

# blogs
serverless-examples
serverless-blog
serverless

# dynamic config
.env.development
.env.production

# dynamic content folders
content/blog
content/examples 
content/framework
content/example