$sidebarWidth: 250px;
.postPage {
  margin-top: 30px;
}
.postWrapper {
  display: flex;
}
.content {
  width: 650px;
  max-width: 650px;
  min-width: 650px;
  padding-right: 30px;
  img {
    max-width: 100%;
  }
}
.sidebar {
  flex-grow: 1;
}
.sidebarBlock {
  margin-bottom: 20px;
}
.sidebarLinks {
  margin-bottom: 10px;
}
