$contentWrapper: 70%;
$contentPadding: 65px;
$contentWidth: resolve(660px + $contentPadding);
$contentPaddingMobile: 20px;
$borderColor: #e8e8e8;

.postPage {
  margin-top: $navHeight;
  font-family: 'Helvetica';
  font-weight: 100;
}
.postWrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  justify-content: flex-end;
  border-bottom: 1px solid $borderColor;
  margin: 30px auto 0px auto;
  max-width: 800px;
  padding: 15px 30px;
}
.contentWrapper {
  min-width: $contentWrapper;
  flex-grow: 1;
  font-size: 17px;
  line-height: 28px;
  a {
    border-bottom: 1px solid #FD5750;
  }
  blockquote p, blockquote li, li p  {
    width: 100%;
    color: #5B5B5B;
  }
  p {
    color: #5B5B5B;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-top: 2rem;
    font-weight: 400;
  }
  /* sub lists */
  ul ul, ul ol, ol ol {
    width: 100%;
  }
  li {
    margin-bottom: 10px;
  }
  h1, h2, h3, h4, h5, h6, p, blockquote, ul, ol, .postMeta, .loadingWrapper, .authorBox, twitterwidget {
    width: 100%;
  }
  pre code {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    font-size: 1.3rem;
    line-height: 1.5;
    letter-spacing: -.02rem;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    border: 1px solid #ddd;
    border-left: none;
    border-right: none;
    background: rgb(248, 248, 248);
    white-space: pre;
    position: relative;
    padding-left: $contentPadding !important;
  }
  ul pre code, ol pre code {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding-left: 10px !important;
  }
  img {
    max-width: 100%;
  }
  td img {
    max-width: 100%;
  }
  iframe {
    max-width: 100%;
  }
  .title {
    margin-bottom: 10px;
  }
  .postMeta {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 22px;
  }
  .postContent {
    margin-top: 25px 0px;
    h1 {
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
    }
  }

  blockquote {
    position: relative;
    left: -15px;
    padding-left: 30px;
    background-image: url(../../assets/images/block-quote-dots.png);
    background-repeat: repeat-y;
    background-size: 15px;
    background-position: left center;
    border-left-width: 0px !important;
  }

}

.editLink {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: white;
  a {
    border: none;
    display: inline-block;
    font-size: 11px;
    margin-left: 5px;
    text-decoration: none;
  }
  svg, :global(.SVGInline) {
    display: block;
    width: 15px;
    height: 15px;
  }
}

.authorBox {
  display: flex;
  padding: 0px;
  margin-bottom: 35px;
  width: 100%;
  font-family: 'Helvetica';
  font-weight: 400;
  color: #5B5B5B;
  font-size: .875em;
  line-height: 1.5em;
  h3 {
    padding-left: 0px !important;
    font-family: 'Helvetica';
    color: #000;
  }
  .dots {
    position: absolute;
    top: 10px;
    left: -70px;
    width: 100px;
    height: 40px;
    background-image: url(../../assets/images/dot-grid.png);
    background-size: 100px;
    background-repeat: repeat;
  }
}
.authorImage {
  width: 160px;
  min-width: 160px;
  height: 160px;
  min-height: 160px;
  margin-top: 25px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    border-radius: 0px;
    width: 100%;
    height: 100%;
  }
}
.authorDetails {
  position: relative;
  margin-top: 30px;
  padding-left: 0px;
}
.comments {
  margin-bottom: 40px;
  padding: 40px;
  max-width: 1000px;
  margin: 0px auto 30px auto;
}
@media (max-width: 1260px) {
  .contentWrapper {
    img {
      max-width: 100%;
    }
  }
}
@media (max-width: 1170px) {
  .postWrapper {
    display: block;
  }
  .postWrapper, .comments {
    flex-direction: column;
    border-bottom: none;
  }
  .contentWrapper {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    padding: 0;
  }
  .contentWrapper {
    margin-left: 0;
  }
}

.commentsHeading {
  display: none;
}

@media (max-width: 767px) {
  .postPage {
    font-size: 1.5rem;
    margin-top: $navHeight;
  }
  .contentWrapper {
    font-size: 16px;
    line-height: 26px;
    h1, h2, h3, h4, h5, h6, p, blockquote, table, ul, ol, .postMeta, pre code, .loadingWrapper, .authorBox,
    ul ul, ol ol, ul p, twitterwidget {
      width: 100%;
      min-width: 100%;
      max-width: 100%;
    }
    ul ul, ol ol {
      padding-right: 0px;
    }
    img, iframe {
      max-width: 100%;
    }
    blockquote {
      margin-left: 0px;
      border-width: 0px;
      p {
        max-width: 90%;
        min-width: 90%;
        width: 90%;
        font-size: 14px;
      }
    }
    pre code {
      padding-left: $contentPaddingMobile !important;
    }
    code {
      color: #FD5750;
    }
    li {
      margin-bottom: 6px;
    }
    ul, ol {
      padding-left: resolve($contentPaddingMobile * 2);
      padding-right: 20px;
      font-size: 15px;
      color: #5B5B5B;
    }
    ul pre code, ol pre code {
      margin-left: -20px;
    }
    .postContent {
      margin-bottom: 0px;
    }
  }
  .postPage h1 {
    font-size: 2.2rem;
    font-size: 2rem;
    line-height: 1.3;
    letter-spacing: -.025rem;
  }
  .postPage .title {
    margin-bottom: 10px;
  }
  .postPage img[align="right"] {
    float: none;
    clear: both;
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }
  .authorBox {
    flex-direction: column;
    border: none;
    margin-bottom: 0px;
  }
  .authorImage {
    display: none;
  }
}

.subscribeContainer {
  max-width: 1200px;
  margin: 0px auto 60px auto;
}