$sidebarWidth: 250px;
.postPage {
  margin-top: 30px;
}
.postWrapper {
  display: flex;
}
.content {
  width: 650px;
  max-width: 650px;
  min-width: 650px;
  padding-right: 50px;
  img, iframe {
    max-width: 100%;
  }
}
.sidebar {
  flex-grow: 1;
}
.sidebarBlock {
  padding: 20px;
  margin-bottom: 20px;
}
.sidebarLinks {
  margin-bottom: 15px;
  &:last-of-type {
    margin-bottom:5px;
  }
  a:hover {
    border-bottom: 1px dashed black;
  }
}

@media (max-width: 960px) {
  .postWrapper, .comments {
    flex-direction: column;
    padding: 10px;
  }
  .content, .sidebar {
    width: 100%;
    min-width: 100%;
    padding: 0px;
  }
}

@media (max-width: 768px) {
  .sidebar {
    margin-bottom: 30px;
  }
}
