$sidebarWidth: 310px;
$sidebarMargin: 40px;
$borderColor: #e8e8e8;

.sidebar {
  padding-top: 30px;
  max-width: $sidebarWidth;
  min-width: $sidebarWidth;
  margin-left: 40px;
  border-right: 1px solid $borderColor;
  min-height: 100%;
  padding-right: 20px;
  &:after {
    content: "";
    width: 90%;
    position: absolute;
    background: #dddedf;
    left: 5%;
    top: -1px;
    height: 1px;
    z-index: 3;
  }
  h3 {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -.015rem;
  }
  pre {
    margin: 0px;
  }
  .code {
    border: 1px solid rgba(221, 221, 221, 0.68);
    color: #000;
    background: rgb(248, 248, 248);
    width: resolve($sidebarWidth + $sidebarMargin);
    padding: 1rem;
    margin-left: resolve($sidebarMargin * -1);
    padding-left: $sidebarMargin;
    border-left: none;
  }

}

.sidebarLinks {
  margin-bottom: 5px;
  margin-left: 1px;
  font-size: 14px;
  a:hover {
    border-bottom: 1px dashed black;
  }
  &:before {
    content: "-";
    margin-right: 5px;
  }
}
.subscribe {
  p {
    font-size: 14px;
    margin-top: 0px;
  }
}

.stacked {
  flex-direction: column;
  input {
    width: 90%;
  }
  button {
    margin-top: 10px;
    width: 50% !important;
  }
}
.aboutBlog {
  margin-bottom: 25px;
  h2 {
    font-size: 20px;
    margin-bottom: 0px;
  }
  h3 {
    font-size: 13px;
  }
}
.getStarted {
  margin-bottom: 25px;
  p {
    font-size: 13px;
    margin: 0px;
    margin-bottom: 5px;
  }
  .continue {
    margin-top: 5px;
    color: #FD5750;
    font-weight: 600;
  }
}
.quickLinks {
  margin-bottom: 25px;
}


@media (max-width: 767px) {
  .sidebar {
    margin-bottom: 30px;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-left: 20px;
    border-right: none;
  }
}
