.container {
  color: #fff;
  text-align: center;
  background: $black2;
  padding: 30px 20px;
}
.title {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  font-weight: 400;
  font-family: Serverless, monospace;
}
.image {
  width: 32%;
}
