.blogPage {
  margin-top: $navHeight;
}
.wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  justify-content: flex-end;
}
.postList {
  width: 66.66666666666666%;
  max-width: 800px;
  padding-bottom: 50px;
  padding-left: 30px;
  margin-top: 20px;
  margin-left: 35rem;
}
.pageination {
  margin-top: 30px;
  font-weight: 500;
  a {
    margin-right: 20px;
  }
}

@media (max-width: 1170px) {
  .wrapper {
    display: block;
    overflow: hidden;
  }
  .pageination {
    margin: 20px;
    margin-top: 30px;
  }
  .postList {
    width: 100%;
    max-width: 100%;
    padding: 0;
    padding-left: 30px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .postList {
    padding-left: 0px;
  }

  .blogPage {
    margin-top: calc($mobileNavHeight - 1px);
  }
}
