.blogPage {
  margin-top: 7rem;
}
.wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  justify-content: flex-end;
}
.postList {
  width: 66.66666666666666%;
  max-width: 800px;
  padding-left: 30px;
  margin-top: 20px;
  padding-bottom: 50px;
}
.pageination {
  margin-top: 30px;
  font-weight: 500;
  a {
    margin-right: 20px;
  }
}

@media (max-width: 960px) {
  .wrapper {
    flex-direction: column;
  }
  .pageination {
    margin: 20px;
    margin-top: 30px;
  }
  .postList {
    width: 100%;
    padding: 0px;
  }
}
