.blogPage {
  margin-top: $navHeight;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
  overflow-x: hidden;
  max-width: 1200px;
  margin: 0px auto;
}

.postList {
  width: 100%;
  margin-right : auto;
  margin-left : auto;
}

.pageination {
  margin-top: 30px;
  font-weight: 500;
  a {
    margin-right: 20px;
  }
}