.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh !important;
}
.inner {
  width: 980px;
  max-width: 980px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}
.hero {
  margin-top: 60px;
  text-align: center;
  min-height: 50vh;
  .description {
    margin-bottom: 10px;
    font-size: 2.0rem;
    line-height: 1.3;
    letter-spacing: -.025rem;
  }
}
.inputWrapper {
  margin-top: 20px;
}
.input {
  text-align: center;
  max-width: 330px;
  font-size: 20px;
  padding: 10px;
  color: #069bfa;
  .text {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 5%;
    margin: auto;
  }
  .container img {
    width: 100%;
    min-width: 100%;
  }
}
