$sidebarWidth: 250px;
.docPage {
  margin-top: 10px;
}
.docContainer {
  margin-top: 20px;
}
.docWrapper {
  display: flex;
  margin-top: 20px;
}
.breadCrumbContainer {
  display: flex;
  justify-content: space-between;
}
.versionNumber {
  margin-top: 20px;
  font-size: 1.4rem;
}
.sidebar {
  min-width: $sidebarWidth;
  max-width: $sidebarWidth;
  padding-right: 25px;
  background: white;
  z-index: 2;
}

.searchBox {
  padding: 5px 10px;
  min-width: 200px;
  width: 100%;
  font-size: 1.6rem;
  border: 1px solid #a5a2a2;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0,0,0,.2);
}
:global {
  .algolia-autocomplete {
    width: 100%;
  }
}
.sidebarInner {
  background: #fff;
}
.cta {
  min-width: 200px;
  max-width: 200px;
  font-size: 19px;
  line-height: 2rem;
  cursor: pointer;
  padding: 14px 10px;
  margin-left: -10px;
  background: #fff;
  text-align: center;
  box-shadow: 0 0 3px rgba(0,0,0,.2);
}
.ctaText {
  font-size: 13px;
  margin-top: 10px;
}
.content {
  flex-grow: 1;
  position: relative;
  max-width: 100%;
  padding-bottom: $footerHeight;
  overflow: hidden;
}
.editLink {
  position: absolute;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  a {
    border: none;
    display: inline-block;
    font-size: 14px;
    margin-left: 5px;
  }
  svg, :global(.SVGInline) {
    width: 20px;
    height: 20px;
  }
}
.currentURL {
  font-weight: bold;
}
.subPages {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  margin-bottom: 20px;
}
.subPageLinkHeading {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
.subPageLink {
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 1.5;
  a {
    text-decoration: none;
    border: none;
    position: relative;
    &:hover {
      color: #000;
    }
    &:before {
      content: '-';
      position: absolute;
      left: -10px;

    }
  }

}

@media (max-width: 768px) {
  .breadCrumbContainer {
    flex-direction: column;
  }
  .searchWrapper {
    margin-top: 10px;
    width: 50%;
  }
  .docPage {
    padding: 0px 10px;
  }
  .editLink {
    display: none;
  }
  .page, .sidebar {
    max-width: 95%;
    min-width: 95%;
    margin: auto;
  }
  .sidebar {
    margin-bottom: 40px;
  }
  .docWrapper {
    flex-direction: column;
    flex-flow: column-reverse;
  }
  .content {
    padding-bottom: 30px;
  }
  .subPageLink, .subPageLinkHeading {
    font-size: 16px;
  }
}
