.page {
  composes: content from "../../index.css";
  min-height: calc(100vh - $navHeight - $footerHeight)
}

.fullWidth {
  width: 100%;
  overflow: hidden;
}
.docContainer {
  margin-top: 20px;
}
.docWrapper {
  display: flex;
  margin-top: 20px;
}
.sidebar {
  min-width: 230px;
  max-width: 230px;
  padding-right: 25px;
  background: white;
}
.content {
  flex-grow: 1;
  position: relative;
  max-width: 100%;
  padding-bottom: $footerHeight;
  overflow: hidden;
}
.editLink {
  position: absolute;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  a {
    border: none;
    display: inline-block;
    font-size: 14px;
    margin-left: 5px;
  }
  svg, :global(.SVGInline) {
    width: 20px;
    height: 20px;
  }
}
.toc {
  font-size: 12px;
  a {
    text-decoration: none;
  }
  > ul {
    list-style: none;
    margin: 0px;
    padding: 0;
    ul {
      color: red;
      margin-left: 5px;
      padding-left: 0px;
      list-style: none;
    }
  }
}
.tocWrapper {

}
.subPages {
  /*background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);*/
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
.subPageLink {
  font-size: 13px;
  margin-bottom: 10px;
  line-height: 1.5;
  a {
    text-decoration: none;
    border: none;
    position: relative;
    &:hover {
      color: #000;
    }
    &:before {
      content: '-';
      position: absolute;
      left: -10px;

    }
  }

}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

}
