.sectionTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  margin-bottom: -10px;
  font-family: Serverless, monospace;
  &:first-of-type {
    margin-top: 80px;
  }
}
.ctaWrapper {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  margin-left: 1.4rem;
  margin-right: 1.4rem;
  border-radius: 3px;
  font-size: 1.6rem;
  font-family: Serverless, monospace;
  line-height: 1.9rem;
  text-align: center;
  text-transform: uppercase;
  min-height: 46px;
  img {
    vertical-align: sub;
    margin-right: 1rem;
  }
}
.btnGrey {
  border: 1px solid #D1D1D1;
  color: #000 !important;
  background-color: #F8F8F8;
}
@media (max-width: 768px) {
  .sectionTitle {
    font-size: 35px;
    &:first-of-type {
      margin-top: 40px;
    }
  }
  .contents {
    padding: 0px 15px;
  }
  .btn {
    font-size: 14px;
  }
}
