.container {

  width: 100%;
  margin-top: 0px;
  margin-bottom: 40px;
  text-align: center;
}

  .image {
    width: 100%;
    padding-bottom: 33.333%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .horizontalPadding {
    padding: 0px 5%;
  }

  .category {
    composes: horizontalPadding;
    font-family: 'Helvetica';
    font-weight: 600;
    font-size: .875em;
    line-height: 1.3125em;
    color: #8c8c8c;
    margin-top: 40px;
  }

  .title {
    composes: horizontalPadding;
    font-family: 'Helvetica';
    font-weight: 100;
    font-size: 1.75em;
    line-height: 1.25em;
    font-weight: 500;
    margin-top: 18px;
  }

  .description {
    composes: horizontalPadding;
    margin-top: 20px;
    font-family: 'Helvetica';
    font-weight: 100;
  }

  .authorshipLabel {
    composes: horizontalPadding;
    margin-top: 25px;
    font-size: .75em;
    line-height: 1.125em;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Helvetica';
    font-weight: 100;
  }

    .writtenBy,
    .name {
      padding: 0px 10px;
    }
    
    .avatar {
      display: flex;
      flex-direction: row;
      margin: 0px 5px;
      > div {
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        background-size: cover;
        border: .5px solid #fff;
        &:first-child {
          position: relative;
          top: -1px;
          width: 5px;
          background-position: 0px center;
        }
        &:nth-child(2) {
          width: 15px;
          background-position: -5px center;
        }
        &:nth-child(3) {
          position: relative;
          top: 2px;
          width: 10px;
          background-position: -20px center;
        }
      }
    }
    
    .name {

    }