@media only screen and (min-width: 1200px) and (max-width: 1350px) {
  .gcp-provider-laptop-fix {
    margin-left: 265px;
  }

  .cloudflare-provider-laptop-fix {
    margin-left: 200px;
  }
}

@media only screen and (min-width: 1351px) and (max-width: 1420px) {
  .gcp-provider-laptop-fix {
    margin-left: 315px;
  }

  .cloudflare-provider-laptop-fix {
    margin-left: 235px;
  }
}
