footer{
  background: $black_serverless;
  padding: 100px 0px;
  position: relative;

  &.withPreFooter:before {
    content: " ";
    position: absolute;
    top: 0px;
    height: 80px;
    width: 100%;
    background: #fff url('../../assets/images/glitch-effect.png');
  }

  .footerLogo{
    padding-top: 20px;
    padding-bottom: 100px;

    img{
      max-width: 138px;
    }
  }

}

.footerHighlight{
  background: $red_serverless;
  color: $white_serverless;
  position:relative;
  top: -240px;
  margin-bottom: -200px;
  display: flex;
  flex-direction: row;

  .fhighText,
  .fhighLinks{
    width: 50%;
    padding: 150px 100px;
  }

  .fhighText{
    font-family: 'SoleilBk';
    overflow: hidden;

    h2{
      font-size: 4.80rem;
      line-height: 1;
      letter-spacing: 0.05rem;
      font-family: 'SoleilBk';
      position: relative;
      z-index: 10;

      &:before{
        content: " ";
        position: absolute;
        right: 90%;
        top: -60%;
        width: 150px;
        height: 100px;
        background: transparent url('../../assets/images/rectangle-19.png');
        z-index: -1;
      }

      &.padBottom{
        padding-bottom: 25px;
      }
    }

    p{
      font-size: 1.6rem;
      letter-height: 1.5;
      margin-bottom: 15px;
    }
  }

  .fhighLinks{
    background: $red_serverless url('../../assets/images/rectangle-19.png');
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    ul{
      margin: 0px;
      padding: 0px;

      li{
        display: block;
        padding-bottom: 25px;
        text-align: center;

        .btn{
          width: 100%;
          min-width: 280px;
          margin: auto;
        }

        &:last-of-type{
          padding-bottom: 0px;
        }
      }

    }
  }
}

.footerBottomWrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footerNavWrapper{
  width: 65%;

  .listWrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 40px;

    .footerList{
      width: 20%;
      margin: 0px;
      padding: 0px;

      h4{
        color: $white_serverless;
        padding-bottom: 0px;
        font-size: 1.4rem;
        line-height: 1.14;
        letter-spacing: 0.06rem;
        font-family: 'Serverless'
      }

      ul{
        padding: 0px;
      }

      li{
        display: block;
        padding-right: 15px;
        padding-bottom: 20px;
        font-size: 1.4rem;
        letter-spacing: 0.06rem;
        line-height: 1.14;

        a{
          display: block;
          width: 100%;
          color: $grey1_serverless;
          transition: all .4s;
          text-decoration: none;

          &:hover{
            text-decoration: none;
            color: $white_serverless;
          }
        }
      }
    }
  }

  .madeWithText{
    width: 50%;

    p {
      font-family: 'Soleil';
      font-size: 1.2rem;
      line-height: 1.33;
    }
  }

  .copyrightWrapper{
    font-family: 'Soleil';

    padding-top: 40px;
    display: flex;
    flex-direction: row;
    font-size: 12px;

    p{
      font-size: 1.2rem;
      line-height: 1.17;
      letter-spacing: -0.05rem;
      font-family: 'Soleil';
    }

    .policyNav{
      margin-left: 200px;

      li{
        display: inline-block;
        margin-right: 20px;
        font-size: 1.2rem;
        line-height: 1.17;
        letter-spacing: -0.05rem;

        a{
          color: $grey1_serverless;
          text-decoration: none;
        }
      }
    }
  }
}

.footerSocialWrapper{
  width: 35%;

  p{
    color: $white_serverless;
    margin-bottom: 40px;
  }

  .socialNavWrapper{
    padding-top: 60px;

    .socialNav{
      margin: 0px;
      padding: 0px;

      li{
        display: inline-block;
        padding-right: 15px;
        font-size: 24px;
        color: $grey2_serverless;

        a{
          color: inherit;

          &:hover{
            text-decoration: none;
            color: $white_serverless;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  footer{
    padding: 80px 0px;

    .footerLogo{
      padding: 30px 0px;
    }
  }

  .footerHighlight{
    top: 0;
    margin: 0px -15px;
    display: block;

    .fhighText,
    .fhighLinks{
      width: 100%;
      padding: 30px;
    }
  }

  .footerNavWrapper{
    width: 100%;
    order: 2;

    .listWrapper{
      .footerList{
        width: 50%;
      }
    }

    .madeWithText{
      width: 100%;
    }

    .copyrightWrapper{
      .policyNav{
        margin-left: 40px;
      }
    }
  }

  .footerSocialWrapper{
    width: 100%;
    order: 1;

    .socialNavWrapper{
      padding:30px 0px;
    }
  }
}

.subscribeForm{
  display: flex;

  .greyTextbox{
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: 'Serverless';
    letter-spacing: 0.05rem;
    background: $grey1_serverless;
    border: 0px;
    color: #fff;
    padding: 16px;
    width: 60%;
  }

  .btn{
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: 'Serverless';
    width: 40%;
  }
}

@media (max-width: 768px) {
  .subscribeForm{
    .greyTextbox{
      width: 60%;
    }
  }
}
