.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-size: 1.4rem;
  color: #ffffff;
  background-color: #000000;
  ;

  .bound {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 140rem;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}
.navBlocks {
  @media screen and (min-width: 768px) {
    width: 50%;
  }
}
.navBlock {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin-bottom: 3rem;

  a {
    display: block;
    line-height: 2rem;
    margin-bottom: 1.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  @media screen and (min-width: 768px) {
    width: 25%;
  }
}
.navTitle {
  color: #8C8C8C;
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-family: Serverless, monospace;
}
.ctaBlock {
  width: 30rem;
}
.cta {
  display: inline-block;
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding: 0.5em 1.25em;
  border: 1px solid;
  border-radius: 3px;
  transition: color 200ms, background-color 250ms;
  ;

  &:hover {
    color: #000;
    background-color: #fff;
  }
}
.madeStatement {
  color: #8C8C8C;
}
.bound {
  composes: bound from "../../index.css";
}
