.footer {
  text-align: center;
  background: $black1;
  min-height: $footerHeight;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.link {
  opacity: 0.4;
  color: inherit;
  text-decoration: none;
}

.reference {
  font-weight: 100;
  color: #fff!important;
  font-size:20px;
}
