.paradigm-container {
  height: auto;
  min-height: 300px;
  user-select: none;
  padding: 68px 10px;
  background: #ffffff;
  color: #000000;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.paradigm-inner {
  flex-direction: column;
}

.paradigm-manifesto {

}

.paradigm-manifesto p {
  width: 100%;
  text-align: left;
  font-family: 'SoleilLt';
  font-size: 20px;
  line-height: 40px;
  margin: 0 0 26px 0;
  letter-spacing: -0.1px;
}
