.paradigm-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 101vh;
  max-height: 1160px;
  width: 100%;
  padding: 10px 10px 0 10px;
  background: #ffffff;
  color: #000000;
}

.paradigm {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  min-height: 700px;
  margin-top: 80px!important;
  border-bottom: 2px solid rgba(255,255,255,0.2);
}
