@media only screen and (min-width: 1200px) and (max-width: 1299px) {
  .homepage-guides-get-started-free {
    padding-top: 99px !important;
  }

  .homepage-guides-enterprise-support {
    padding-top: 112px !important;
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1367px) {
  .homepage-guides-get-started-free {
    padding-top: 60px !important;
  }

  .homepage-guides-enterprise-support {
    padding-top: 74px !important;
  }
}

@media only screen and (min-width: 1440px) and (max-width: 1650px) {
  .homepage-guides-get-started-free {
    padding-top: 86px !important;
  }

  .homepage-guides-enterprise-support {
    padding-top: 74px !important;
  }
}
