.wrapper {
  font-family: "Monaco", Inconsolata, monospace;
  font-size: 15px;
  color: #f8f8f8;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.terminal {
  width: 100%;
  max-width: 500px;
  height: 40%;
  min-height: 340px;
  border-radius: 6px;
  box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.25);
  background: #191919;/*$black1;*/
  transition: box-shadow .3s linear;
  background: #191919 url(../../assets/images/terminal_glare.png) no-repeat center;
  background-size: contain;
}
.terminalHead {
  width: 100%;
  height: 35px;
  background: #F7F7F7;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.terminalText {
  padding: 20px 2%;
  line-height: 1.5;
  padding-bottom: 10px;
  :global(.command) {
    display: block;
    color: #fff;
    margin-bottom: 10px;
    font-weight: 600;
    &:before {
      content: '$ ';
      color: #fff;
    }
  }
  :global {
    .empty {
      min-height: 20px;
    }
    .comment {
      color: #b1afaf !important;
      &:before {
        content: '# ';
        color: #b1afaf !important;
      }
    }
    .cta {
      color: #fff !important;
      &:before {
        content: '-> ';
        color: #b1afaf !important;
      }
    }
  }
}
.terminalText a {
  color: #fff;
  text-decoration: underline;
}

.circle {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 10px;
  font-size: 0;
  font-weight: 700;
  border-radius: 10px;
}
$buttonColor: #3b3b3b;
.close {
  border: 1px solid #FF795D;
  margin-left: 18px;
  background: #FF795D;
}
.turn {
  border: 1px solid #F8E71C;
  background: #F8E71C;
}
.expand {
  background: #44BFA3;
  border: 1px solid #44BFA3;
}

@media (max-width: 768px) {
   .wrapper {
     font-size: 15px;
   }
   .terminal {
     min-height: 260px;
   }
}
@media (max-width: 440px) {
   .wrapper {
     font-size: 11px;
   }
}
