.cover {
  padding: 100px 0;
  background: #ffea93 url('https://s3-us-west-2.amazonaws.com/assets.site.serverless.com/images/jobs_heading.jpg');
  background-size: cover;
  background-position: center top;
  text-align: center;
  color: #fff;
  h1 {
    font-size: 50px;
    color: #fff;
  }
  @media (min-width: 800px) {
    padding: 100px 25%;
  }
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff !important;
  font-weight: 500 !important;
  padding: 17px 25px;
}

.content {
  max-width: 96rem;
  margin: 0 auto;
  padding: 0 30px;
}

.positions::after {
  content: "";
  display: table;
  clear: both;
}

.jobs {
  @media (min-width: 700px) {
    float: left;
    width: 50%;
    padding: 0 10px;
  }
}

.job {
  padding-top: 30px;
  h4 {
    margin-bottom: 0;
  }
}

.marginTop {
  display: block;
  margin-top: 40px;
}

.black {
  padding: 50px 0;
  background: #191919;
  color: #fff;
  text-align: center;
}

.values {
  margin: 0 -15px;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
  h2 {
    color: #ffd734;
    font-size: 20px;
    margin-bottom: 0px;
  }
  > div {
    flex: 0 0 100%;
    padding: 0 15px;
    max-width: 100%;
    padding-top: 40px;
    @media (min-width: 600px) {
      flex-basis: 50%;
      max-width: 50%;
    }
    @media (min-width: 800px) {
      flex-basis: 33.33%;
      max-width: 33.33%;
    }
  }
}

.center {
  text-align: center;
}

.teamPhotos {
  margin-top: 50px;
  background: url('https://s3-us-west-2.amazonaws.com/assets.site.serverless.com/images/jobs_images.jpg');
  background-size: cover;
  background-position: center center;
  height: 200px;
  @media (min-width: 600px) {
    height: 300px;
  }
}

.perks {
  margin: 20px -15px 40px;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
  img, svg {
    margin: 0 auto 10px;
    max-width: 50px;
    display: block;
  }
  > div {
    flex: 0 0 100%;
    padding: 15px;
    max-width: 100%;
    padding-top: 40px;
    text-align: center;
    @media (min-width: 600px) {
      flex-basis: 50%;
      max-width: 50%;
    }
    @media (min-width: 600px) and (max-width: 800px) {
      border-right: 1px solid #ddd;
      border-top: 1px solid #ddd;
      &:nth-child(1),
      &:nth-child(2) {
        border-top: none;
      }
      &:nth-child(2n) {
        border-right: none;
      }
    }
    @media (min-width: 800px) {
      flex-basis: 33.33%;
      max-width: 33.33%;
      border-right: 1px solid #ddd;
      border-top: 1px solid #ddd;
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        border-top: none;
      }
      &:nth-child(3),
      &:nth-child(6) {
        border-right: none;
      }
    }
  }
}
