.slick-arrow {
  display: none !important;
}

.slick-dots {
  bottom: -45px;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #fd5750;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  color: #fd5750;
  opacity: 1;
}

.slick-dots li {
  margin-top: 20px;
  margin-right: 5px;
}

.slick-dots li button:before {
  font-size: 37px;
  content: '■';
  color: #eaeaea;
  opacity: 1;
}
