.introPage {
  margin-top: 7rem;
  padding-bottom: 0;
  margin-bottom: 0;

  a {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
  }
}
.introContainer {
  margin-top: 0px;
}
.introWrapper {
  display: flex;
  margin-top: 0px;
}

.introNav {
  flex-grow: 1;
  order: 1;
  z-index: 5;
}

.introNavInner {
  text-align: center;
  padding: 0px;
}

/* Intro Content */
.content {
  order: 2;
  flex-grow: 2;
  position: relative;
  padding-top: 3rem;
  max-width: 100%;
  min-height: 100vh;
  overflow: hidden;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  pre code:global(.hljs) {
    border-left: none;
    border-right: none;
    background: #f8f8f8 !important;
  }
  $copyWidth: 45px;
  :global(.phenomic-HeadingAnchor) {
    display: inline-block;
    position: absolute !important;
    text-align: left;
    margin-right: 0;
    width: 130px;
    margin-left: -50px;
    /* line-height: 1.4rem; */
    text-decoration: none;
    opacity: .1;
    line-height: inherit;
    color: transparent;
    transition: opacity .2s;
    border-bottom: none !important;
    &:before {
      content: "#";
      transform: none;
      position: absolute;
      top: 0px;
      left: 30px;
      background-color: transparent;
      height: auto;
      color: $black2;
      visibility: visible;
    }
    &:after {
      opacity: .4;
      visibility: hidden;
      position: absolute;
      content: "copy link";
      text-align: center;
      height: 20px;
      transform: none;
      width: 55px;
      font-size: 11px;
      padding: 3px 5px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: center;
      justify-content: center;
      color: white;
      background-color: #191919;
      top: 85%;
      left: 8px;
      border-radius: 3px;
      transition: .25s ease-in-out 0s;
    }
    &:hover {
      opacity: 1;
    }
    &:active:after {
      content: "copied!" !important;
      background-color: #787878;
    }
    &:hover:after {
      visibility: visible;
    }
  }
  a {
    position: relative;
    &:hover:before {
      visibility: visible;
      transform: scaleX(1);
    }
    &:before {
      position: absolute;
      bottom: -1px;
      visibility: hidden;
      width: 100%;
      height: 1px;
      content: '';
      transition: all .15s ease-in-out 0s;
      transition-delay: 0s;
      transform: scaleX(0);
      background-color: rgba(0,0,0,0.5);
    }
  }
  h1, h2, h3, h4, h5, h6, p {
    max-width: 650px;
    position: relative;
    /*&:hover :global(.phenomic-HeadingAnchor) {
      opacity: .3;
    }*/
  }
  p, pre, code, ul, li {
    position: relative;
  }
  ul {
    padding-left: 25px;
    padding-right: 80px;
  }
  h1, h2, h3, h4, h5, h6 {
    &:before {
      display: block;
      content: " ";
      visibility: hidden;
    }
  }
  h1 {
    font-size: 32px;
    &:first-of-type {
      margin-top: 0px;
      :global(.phenomic-HeadingAnchor) {
        display:none;
      }
    }
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
}
.currentURL a {
  font-weight: 600;
  &:after {
    content: '-';
    position: absolute;
    color: #a5a5a5;
    left: -10px;
    transform: none;
    transition: none;
  }
}
.pageContext {
  text-transform: capitalize;
  font-weight: 600;
  padding: 0;
  margin: 0px 20px;
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(0,0,0,.05);
  padding-bottom: 0px;
  padding-top: 0;
  font-size: 15px;
}
.subPages {
  padding: 10px;
  margin: 0 10px;
  margin-top: 0px;
  padding-top: 0;
  padding-left: 15px;
  padding-right: 0px;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
strong {
  font-weight: 600;
}
.subPageLinkHeading {
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
}
.subPageLink {
  font-size: 14px;
  line-height: 2.3;
  cursor: pointer;
  a {
    text-decoration: none;
    border: none;
    position: relative;
    width: 100%;
    display: block;
    &:hover {
      color: #000;
    }
    &:hover:after {
      content: '-';
      position: absolute;
      color: #a5a5a5;
      left: -10px;
      transform: none;
      transition: none;
    }
  }

}

@media (max-width: 1000px) {
  .content {
    padding-left: 30px;
    pre code:global(.hljs) {
      margin-left: -30px !important;
      padding-left: 30px !important;
    }
    h1, h2, h3, h4, h5, h6, p {
      padding-right: 25px;
    }
  }
}
@media (max-width: 768px) {
  .introNav {
    z-index: 9;
    margin-bottom: 35px;
  }
  .introNavInner {
    min-width: 100%;
    padding-top: 10px;
    background: #fff;
  }
  .page, .introNav {
    max-width: 100%;
    min-width: 100%;
  }
  .introWrapper {
    flex-direction: column;
  }
  .content {
    padding: 20px 0 0 13px;
    font-size: 14px;
    pre code:global(.hljs) {
      font-size: 11px;
      line-height: 1.4;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    :global(.phenomic-HeadingAnchor) {
      display: none;
    }
    ol, ul {
      font-size: 13px;
      padding: 0px 20px;
    }
    li {
      margin-bottom: 5px;
    }
    h1 {
      font-size: 22px;
    }
    h1, h2, h3, h4, h5, h6, p {
      padding-right: 20px;

    }
    h1, h2, h3, h4, h5, h6 {
      &:before {
        display: block;
        content: " ";
        visibility: hidden;
      }
    }
    ul {
      padding-right: 10px;
    }
  }

  .subPageLink, .subPageLinkHeading {
    font-size: 16px;
  }
}


:global(.safari .phenomic-HeadingAnchor) {
  &:after {
    display: none;
    opacity: 0;
  }
}
