.framework-video-player-wrapper video {
  width: 42% !important;
  height: 360px !important;
  outline: none !important;
  position: absolute !important;
  left: 62px !important;
}

.framework-video-player-wrapper > div {
  width: auto !important;
  height: auto !important;
}

@media only screen and (min-width: 416px) and (max-width: 1279px) {
  .framework-video-player-wrapper video {
    left: auto !important;
    right: 10px !important;
    width: 46% !important;
    height: 258px !important;
    margin-top: 120px !important;
  }
}

@media only screen and (max-width: 415px) {
  .framework-video-player-wrapper video {
    position: relative !important;
    width: 286px !important;
    height: 154px !important;
    margin-top: 440px !important;
    left: 20px !important;
  }
}

@media only screen and (min-width: 1920px) {
  .framework-video-player-wrapper video {
    width: 100% !important;
    position: relative !important;
    left: -62px !important;
  }
}
