.cli-video {
  width: 592px;
  height: 333px;
  outline: none;
}

@media screen and (min-width: 1201px) and (max-width: 1450px) {
  .cli-video {
    width: 492px;
    height: 333px;
  }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  .cli-video {
    width: 492px;
    height: 333px;
  }
}

@media screen and (min-width: 416px) and (max-width: 900px) {
  .cli-video {
    width: 392px;
    height: 298px;
  }
}

@media screen and (max-width: 415px) {
  .cli-video {
    width: 100%;
    height: 300px;
  }
}
