.productHeroContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  -webkit-animation: fadeIn 0.75s;
  -moz-animation: fadeIn 0.75s;
  animation: fadeIn 0.75s;
  -webkit-backface-visibility: hidden;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.heroPreHeadlineContent {
  display: flex;
  justify-content: space-between;
}

.viewInChineseTab {
  border: 3px solid #8c8c8c;
  padding: 10px;
  max-width: 110px;
}

@media only screen and (max-width : 600px) {
  .heroPreHeadlineContent {
    flex-direction: column-reverse;
  }

  .viewInChineseTab {
    margin-bottom: 22px;
  }
}

.productHeroColumnLeft {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 0 30px 0 0;
}

.productHeroColumnRight {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.productHeroColumnRight img {
  max-width: 550px;
  margin-top: 50px;
}

@media only screen and (max-width : 600px) {
  .productHeroColumnRight img {
    max-width: 370px;
  }
}

@media only screen and (max-width : 380px) {
  .productHeroColumnRight img {
    max-width: 310px;
  }
}

.frameworkLogo {
  max-width: 280px;
  margin: 0 0 0 0;
}

.productName {
  font-family: 'Serverless';
  font-size: 80px;
  line-height: 74px;
  margin: 0 0 70px -10px;
  letter-spacing: -2px;
}

.productHeadline {
  font-family: 'Soleil';
  font-size: 66px;
  line-height: 80px;
  margin: 42px 0 32px -10px;
  letter-spacing: -2px;
}

@media only screen and (max-width : 600px) {
  .productName {
    font-size: 60px;
  }

  .productHeadline {
    font-size: 60px;
    line-height: 66px;
  }
}

.productTagline {
  display: flex;
  margin: 0 0 80px 0;
  font-family: 'Soleil';
  font-size: 24px;
  line-height: 36px;
}

.productCTA {
  display: flex;
  margin: 0 0 30px 0;
}

.contentCTA {
  display: flex;
  margin-top: 32px;
}

@media only screen and (max-width : 600px) {
  .contentCTA {
    align-self: center;
  }
}

.productEdition {
  margin: 0 0 30px 0;
  font-family: 'Soleil';
  font-size: 18px;
  line-height: 36px;
}

.editionLink {
  font-family: 'SoleilSB';
  margin-left: 5px;
  text-decoration: underline;
}
