.useCasesWrapper{
  padding-top: 60px;
}

.useCasesIntro{
  h2{
    font-family: 'SoleilSb';
    font-weight: normal;
    font-size: 4rem;
    line-height: 1.4;
    margin-bottom: 0px;
  }

  p{
    font-family: 'Soleil';
    font-size: 1.2rem;
    line-height: 1.33;
    padding-top: 20px;
  }
}

.useCaseItem{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 100px 0;

  .useCaseDetail,
  .useCaseImage{
    width: 50%;
  }

  .useCaseDetail{
    order: 1;
    padding-right: 110px;

    h3{
      font-size: 3.2rem;
      font-family: 'SoleilBk';
      line-height: 1.13;
      letter-spacing: -0.05rem;
      padding: 0px;
      margin: 0px;
      text-align: left;
      padding-bottom: 25px;
      font-weight: normal;
    }

    .info{

      p{
        font-size: 1.6rem;
        font-family: 'SoleilBk';
        font-weight: normal;
        line-height: 1.5;
        color: $grey1_serverless;
        padding-bottom: 25px;
      }
    }

    .btnWrapper{
      .btn{
        max-width: 280px;
        width: 100%;
      }
    }
  }

  .useCaseImage{
    order: 2;

    img{
      display: block;
      margin: auto;
      max-width: 100%;
    }
  }

  &:nth-of-type(2n){
    .useCaseDetail{
      order: 2;
      padding-right: 0px;
      padding-left: 110px;
    }

    .useCaseImage{
      order: 1;
    }
  }

  &:last-of-type{
    padding-top: 40px;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

@media (max-width: 1200px) {
  .useCasesWrapper{
    padding-top: 0;
  }

  .useCaseItem{
    padding: 60px 0px;
  }
}

@media (max-width: 768px) {
  .useCasesIntro {
    padding: 0 20px;

    h2, p {
      text-align: left !important;
    }

    h2 {
      font-family: SoleilBk;
      font-size: 32px;
      font-weight: normal;
      line-height: 1.13;
      letter-spacing: -0.5px;
    }
  }

  .useCaseItem{
    padding: 20px 0px;

    .useCaseDetail, .useCaseImage {
      width: 100%;
      padding: 0 18px;
    }

    .useCaseDetail{
      order: 2;
      padding: 20px;
    }

    .useCaseImage{
      order: 1;
      margin-bottom: 20px;
      padding: 0;
    }

    &:nth-of-type(2n){
      .useCaseDetail{
        padding: 0 20px;
      }
    }
  }
}
