.banner {
  position: relative;
  width: 100%;
  &.fullWidth {
    max-width: 100%;
    width: 100%;
  }
}
.wrapper {
  margin: auto;
  padding: 2rem;
  max-width: 96rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logoWrapper {
  border-bottom: none !important;
  display: inline-block;
}
.copy {
  font-size: 18px;
  margin-left: 10px;
  padding-top: 2px;
}
.logo {
  max-width: 15rem !important;
  margin-right: 1rem;
  vertical-align: middle;
  border-bottom: none;
}
.link {
  font-size: 18px;
  margin-left: 10px;
  font-weight: bold !important;
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    justify-content: center;
  }
  .logo {
    margin-bottom: 15px;
  }
  .copy {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
}
