.bound {
  composes: bound from "../../index.css";
}
.boundMedium {
  composes: boundMedium from "../../index.css";
}
.boundSmall {
  composes: boundSmall from "../../index.css";
}
.hero {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 10rem;
  padding-bottom: 0;
  text-align: center;
  font-family: Gibson;
  font-size: 28px;
  font-weight: 300;
  line-height: 32px;
  text-align: justify;
  border: 1px solid #D6D6D6;
  color: #000;
  background-color: #fff;
  @media screen and (min-width: 768px) {
    padding-top: 14rem;
  }
}
.center {
  text-align: center;
}
.heroTitle {
  color: #000000;
  font-family: Gibson;
  font-size: 48px;
  line-height: 54px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    font-size: 4rem;
    line-height: 4.8rem;
  }
}
.heroDescription {
  margin-bottom: 6rem;
  padding-right: 0;
  padding-left: 0;
  font-size: 2rem;
  line-height: 2.8rem;
}

.cityLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 45px 0;
  a {
    color: #FA5855;
    font-family: Gibson;
    font-size: 20px;
    line-height: 22px;
    text-align: justify;
    position: relative;
    margin: 0 30px;
    &:after {
      content: '/';
      position: absolute;
      right: -30px;
      color: #000;
    }
    &:last-of-type:after {
      display: none;
    }
  }
}

.heading {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2rem;
  @media screen and (min-width: 768px) {
    font-size: 2.4rem;
    line-height: 2.7rem;
  }
}
