.header {
  text-align: center;
  margin: 35px 0;
  max-width: 660px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.componentBox {
  display: flex;
}
.component {
  margin: 20px;
  width: 33%;
  text-align: center;
  img {
    width: 50px;
  }
}
.button {
  text-align: center;
  margin-top: 40px;
}
