.container{
  width: 100%;
  max-width: 1260px;
  padding: 0 37px;
  margin: auto;
  display:block;
}

.redHighlightWrapper{
  position: relative;
  z-index: 10;

  .redHighlightContainer{
    border: 3px solid $red_serverless;
    background: $white_serverless;
    padding: 68px 85px;
    width: 100%;
  }

  blockquote{
    font-family: 'SoleilBk-Italic';
    font-weight: normal;
    font-size: 2.4rem;
    line-height: 1.33;
    padding: 0px;
    padding-bottom: 30px;
    border: 0px;
    margin-right: 0;
  }

  .quoteDetails{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .companyLogo {
      max-height: 41px;
    }

    .name{
      font-family: 'Soleil';
      font-size: 1.8rem;
      line-height: 1.33;
      letter-spacing: -0.03rem;
    }

    .designation{
      font-family: 'Soleil';
      font-size: 1.2rem;
      line-height: 1.33rem;
      align-items: center;
      color: $grey2_serverless;
    }
  }

  &:before{
    content: " ";
    height: 80px;
    width: 100%;
    display: block;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 50%;
    margin-top: -40px;
    background: transparent url('../../assets/images/glitch-effect.png');
    opacity: 0.05;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }

  .redHighlightWrapper{
    padding: 0;

    .redHighlightContainer{
      width: 90%;
      margin: auto;
      padding: 60px 20px;

      .quoteDetails{
        .info{
          order: 2;
        }

        .companyLogo{
          order: 1;
          padding-top: 10px;
          padding-bottom: 15px;
          margin-bottom: 20px;

          img{
            width: 80px;
          }
        }
      }
    }

    blockquote{
      margin: 0px;
    }
  }
}