.container {

  width: 100%;
  padding: 0px 10px;
  margin-top: 0px;
  margin-bottom: 40px;
  color: #fff;

  > div {

    display: flex;
    flex-direction: row;

    @media (max-width: 768px) {
      flex-direction: column;
      padding-top: 90px;
    }

    > div {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      padding-top: 80px;
      padding-bottom: 80px;
    }

  }
}

  .text {
    padding: 0px 50px;
    background-color: #fd5750;
    background-image: url('https://s3-us-west-2.amazonaws.com/assets.site.serverless.com/images/dot-grid.png');
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: 0px 40px;
    position: relative;
    div:first-child {
      padding-bottom: 20px;
    }
  }

    .heading {
      font-size: 2em;
      font-weight: 500;
    }

    .subheading {
      margin-top: 20px;
      line-height: 1.5em;
    }

.links {
  background-image: url('https://s3-us-west-2.amazonaws.com/assets.site.serverless.com/images/glitch-screen.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  a {
    display: block;
    padding-top: 10px;
    &:first-child {
      padding-top: 0px;
    }
  }
}

  .link {
    width: 190px;
    text-align: center;
    padding: 8px 10px;
    border: 1px solid #fff;
  }