.featuresListWrapper{
  h2{
    font-family: 'SoleilSb';
    font-size: 4rem;
    margin-bottom: 80px;
  }
}

.featureList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  list-style-type: none;

  li{
    display: block;
    width: 50%;
    padding-right: 80px;
    padding-bottom: 80px;
    position:relative;
    z-index: 10;
    counter-increment: step-counter;

    figure{
      margin: 0px;
      margin-bottom: 25px;
    }

    h3{
      text-align: left;
      padding: 0px;
      margin-bottom: 25px;
      z-index: 10;
      position: relative;
      font-size: 3.2rem;
      font-family: 'SoleilBk';


      &:before{
        content: counter(step-counter, decimal-leading-zero);
        position: absolute;
        color: $red_serverless;
        font-family: 'Soleil';
        font-size: 10rem;
        line-height: 1;
        z-index: -1;
        opacity: 0.1;
        top:-2.5rem;
        left:-5rem;
      }
    }

    p{
      font-size: 1.6rem;
      color: $grey1_serverless;
      font-family: 'SoleilBk'
    }

    &:nth-of-type(2n){
      padding-right: 0px;
      padding-left: 80px;
    }
  }
}

@media (max-width: 1281px) {
  .featureList {
    padding-left: 50px;
    padding-right: 50px;
  }
}
