.featuresListWrapper{
  padding-top: 20px;
  h2{
    font-family: 'SoleilSb';
    font-size: 4rem;
    font-weight: normal;
    margin-bottom: 110px;
    letter-spacing: normal;
    line-height: 1.4;
  }
}

.featureList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  list-style-type: none;

  li{
    display: block;
    width: 50%;
    padding-right: 120px;
    padding-bottom: 125px;
    position:relative;
    z-index: 10;
    counter-increment: step-counter;

    figure{
      margin: 0px;
      height: 75px;
      margin-bottom: 25px;
    }

    h3{
      text-align: left;
      padding: 0px;
      margin-bottom: 25px;
      z-index: 10;
      position: relative;
      font-size: 3.2rem;
      line-height: 1.13;
      font-weight: normal;
      letter-spacing: -0.5px;
      font-family: 'SoleilBk';

      &:before{
        content: counter(step-counter, decimal-leading-zero);
        position: absolute;
        color: $red_serverless;
        font-family: 'Soleil';
        font-size: 10rem;
        line-height: 1;
        z-index: -1;
        opacity: 0.2;
        top:-2.5rem;
        left:-5rem;
      }
    }

    p{
      font-size: 1.6rem;
      color: $grey1_serverless;
      font-family: 'SoleilBk'
    }


    &:nth-of-type(2n){
      padding-right: 0px;
      padding-left: 100px;
    }
  }
}

@media (max-width: 1281px) {
  .featureList{
    padding-left: 50px;
    padding-right: 50px;
    li{
      padding-right: 70px;
      padding-bottom: 100px;

      &:nth-of-type(2n){
        padding-left: 145px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .featureListWrapper{
    padding-top: 60px;
  }

  .featureList{
    padding-left: 0px;
    padding-right: 0px;

    li{
      padding: 50px;

      &:nth-of-type(2n){
        padding: 50px;
      }
    }

  }
}

@media (max-width: 768px) {
  .featuresListWrapper{
    padding-top: 0;

    > h2{
      font-family: SoleilBk;
      font-size: 32px;
      font-weight: normal;
      line-height: 1.13;
      letter-spacing: -0.5px;
      text-align: center;
      margin-bottom: 80px;
    }
  }

  .featureList{
    li{
      width: 100%;
      padding: 15px;

      h3:before {
        content: '';
      }

      &:nth-of-type(2n) {
        padding: 15px;
      }
    }
  }
}
