.social {
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid #e9eff3;
  border-right: none;
  border-radius: 3px 0 0 3px;
  box-shadow: 0 2px 4px 0 rgba(233,239,243,.9);
  right: 0;
  position: fixed;
  text-align: center;
  top: 30%;
  transform: translateY(-100%);
  z-index: 5;
  a {
    padding: 7px 10px;
    display: block;
    line-height: 1;
    transition: .2s linear;
    text-decoration: none;
    border-bottom: none;
    span {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    svg {
      width: 18px;
    }
    &:first-of-type {
      padding-top: 13px;
    }
    &:last-of-type {
      padding-bottom: 13px;
    }
  }
  .twitter {
    color: #0090ff;
    fill: #0090ff;
  }
  .divider {
    margin: 10px auto;
    width: 50%;
  }
  .suggestEdit {
    font-size: 10px;
  }
}
@media (max-width: 1050px) {
  .social {
    display: none;
  }
}
