.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  ;

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
  }
}
.clientLogo {
  max-width: 7rem;
  max-height: 2rem;
}
@media screen and (min-width: 768px) {

  .clientLogo {
    max-width: 15rem;
    max-height: 4rem;
  }
}
