.logo {
  height: 30px;
  display: block;
}
.mainHeaderWrapper{
  padding: 25px 0px;
  background: $black_serverless;

  .navBtn {
    display: none;
    font-size: 3rem;
    width: 35px;
    height: 35px;
    text-align: center;
    color: $white_serverless;
    cursor: pointer;
    transition: all .4s;

    img{
      margin: auto;
      max-width: 100%;
      display: inline-block;
      width: 20px;
      height: 20px;
    }

    .faTimes{
      display:none;
    }

    &.active{
      .faBars{
        display: none;
      }

      .faTimes{
        display: block;
      }
    }
  }
}


.mainNav{
  margin:0;
  li{
    display: inline-block;
    color: #fff;
    position: relative;
    
    a{
      color: inherit;
      display: inline-block;
      padding: 5px 25px;
      text-decoration: none;
      position: relative;
      font-family: "Serverless";
      font-size: 1.6rem;
      letter-spacing: 0.7px;


      &:before{
        position: absolute;
        content: " ";
        width: 5px;
        height: 80%;
        background: $red_serverless;
        left: 0;
        top:10%;
        opacity: 0;
        visibility: hidden;
        transition: all .4s;
      }
    }

    &:hover a, &.active a{
      text-decoration: none;
      &:before{
        opacity: 1;
        visibility: visible;
        transform: rotateZ(200deg);
      }
    }

    &:last-of-type{
      a{
        padding-right: 0px;
      }
    }
  }
}

.mainNavDropdown{
  display: block;
  width: 220px;
  height: auto;
  background: $black_serverless;
  box-shadow: 0 10px 50px rgba(255,255,255,0.3);
  position: absolute;
  z-index: 999;
  top: 60px;
  left: -50%;
  bottom: 40px;
  padding: 25px;

  li{
    &:before{
      display: none;
    }
  }

  &.platform-drop{
    width: 310px;
    height: 310px;
    // overflow: hidden;
  }

  &:before{
    content: " ";
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: -10px;
    margin-left: -7.5px;
    border-style: solid;
    border-width: 0 7.5px 13.0px 7.5px;
    border-color: transparent transparent $black_serverless transparent;
  }
}

@media (max-width: 768px) { 
  .mainHeaderWrapper{
    padding: 30px 0px;
    background: $black_serverless;
    
    nav{
      height: 0px;
      width: 100%;
      overflow: hidden;
      visibility: hidden;
      
      &.active{
        height: 100%;
        visibility: visible;
      }
    }

    .navBtn{
      display: block;
    }
  }

  .mainNav{
    margin: 0px;
    width: 100%;
    padding: 25px 0px;

    li{
      display: block;
      text-align: left;
      margin-left: 15px;
    }
  }  
}