header.mainHeaderWrapper {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.blackBackground {
  background-color: $black_serverless;

  ul.mainNav {
    > li {
      > a {
        padding: 27.5px 25px;
        transition: padding 0.5s;
      }
    }
  }

  .mainNavDropdown {
    top: calc($navHeight - 1px);
  }
}

.mainHeaderWrapper{
  .logoWrapper {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;

    svg {
      margin-top: 10px;
      max-width: 170px;
    }
  }

  .navBtn{
    display: none;
    font-size: 3rem;
    width: 35px;
    height: 35px;
    text-align: center;
    color: $white_serverless;
    cursor: pointer;
    transition: all .4s;

    img{
      margin: auto;
      max-width: 100%;
      display: inline-block;
      width: 20px;
      height: 20px;
    }

    .faTimes {
      display: none;
    }

    &.active{
      .faBars{
        display: none;
      }

      .faTimes{
        display: block;
      }
    }
  }
}


ul.mainNav{

  > li{
    display: inline-block;
    color: #fff;
    position: relative;

    > a{
      color: inherit;
      display: inline-block;
      padding: 35.5px 25px;
      text-decoration: none;
      position: relative;
      font-family: "Serverless";
      font-size: 1.6rem;
      letter-spacing: 0.7px;

      &:before{
        position: absolute;
        content: " ";
        width: 0;
        height: 0;
        background: $red_serverless;
        left: 0;
        margin-top: -12.5px;
        top: 50%;
        opacity: 0;
        transition: all .2s;
        transition-property: height, width;
      }
    }

    &:hover,
    &.active{
      .mainNavDropdown{
        display: block;
      }

      & > a{
        text-decoration: none;
        &:before{
          opacity: 1;
          left: 5px;
          height: 25px;
          width: 5px;
          transform: rotateZ(200deg);
        }
      }
    }

    &:last-of-type{
      > a{
        padding: 18px;
        font-size: 1.6rem;
        margin: 0 5px;
        line-height: 0.88;
        letter-spacing: 0.7px;
        text-align: center;

        &:before {
          display: none;
        }
      }
    }
  }
}

.mainNavDropdown{
  display: none;
  background-image: linear-gradient(210deg, $darkBlack 25%, $black2), linear-gradient($darkBlack, $darkBlack);
  box-shadow: 0 10px 50px 0 $black4;
  position: absolute;
  z-index: 999;
  top: calc(9rem - 5px);
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 20px 40px 40px 40px;

  ul{
    margin: 0px;
    min-width: 250px;

    li{
      width: 100%;
      text-decoration: none;

      a{
        color: $white_serverless;
        text-decoration: none;
        font-size: 1.1em;
      }
    }
  }

  &.platformDrop{

    padding: 30px 40px 40px 40px;

    ul{
      > li{
        display: block;
        text-decoration: none;

        > a{
          display: flex;
          color: $grey2_serverless;
          text-decoration: none;
          padding: 10px 0px 15px 0px;
          margin: 0px;

          &:hover {
            color: $white_serverless;
          }

          img{
            display: inline-block;
            max-height: 40px;
            margin-right: 30px;
          }

          .text{
            display: inline-block;
          }

          .top,.bottom{
            display: block;
          }

          .top{
            font-size: 1.5rem;
            line-height: 0.7;
            letter-spacing: 0.05rem;
            font-family: 'Serverless';
          }

          .bottom{
            font-size: 2rem;
            line-height: 1.7;
            letter-spacing: 0.08rem;
            font-family: 'Serverless';
          }
        }

        &:first-child {
          a {
            padding-top: 0;
            img {
              max-height: 52px;
              margin-left: 8px;
              margin-right: 43px;
            }
          }
        }

        &:last-child {
          a {
            padding-top: 20px;
            padding-bottom: 0;
          }
        }
      }
    }
  }

  &.simpleDrop{
    padding: 40px;
    min-height: 160px;
    height: auto;
    max-height: auto;
    overflow: visible;

    ul{
      > li {
        display: block;

        > a{
          display: block;
          color: $grey2_serverless;
          font-family: 'Serverless';
          font-size: 1.1em;
          line-height: 1.14;
          letter-spacing: 0.06rem;
          padding: 0;
          margin: 0 0 20px;
          position: relative;
          z-index: 10;

          &:before{
            content: " ";
            width: 25px;
            height: 20px;
            position: absolute;
            left:-10px;
            top: -5px;
            z-index: -1;
            background: url('../../assets/images/dot-grid.png');
            background-size: cover;
            display: none;
          }

          &:hover,
          &.active{
            color: $white_serverless;
            &:before{
              display: block;
            }
          }
        }
      }
    }
  }

  &.resourcesDrop{
    min-height: 216px;
  }

  &.devDrop{
    min-width: 460px;
    min-height: 350px;
    padding: 40px 50px;

    h3{
      color: $white_serverless;
      font-size: 1.9rem;
      line-height: 1.14;
      letter-spacing: 0.06rem;
      padding: 0px;
      margin-bottom: 25px;
      position: relative;
      z-index: 10;

      &:before{
        content: " ";
        width: 25px;
        height: 20px;
        position: absolute;
        left:-10px;
        top: -5px;
        z-index: -1;
        background: url('../../assets/images/dot-grid.png');
        background-size: cover;
        display: block;
      }
    }

    .devDropListWrapper{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 10px;

      .devDropList{
        width: 50%;

        ul{
          padding: 0px;

          a{
            color: $grey2_serverless;
            font-size: 1.1em;
            text-transform: lowercase;

            &:before {
              background: none;
            }

            &:hover,
            &:hover{
              color: $white_serverless;
            }
          }
        }
      }
    }
  }

  &:before {
    content: " ";
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: -10px;
    margin-left: -7.5px;
    border-style: solid;
    border-width: 0 7.5px 13.0px 7.5px;
    border-color: transparent transparent #090915 transparent;
  }
}

@media (max-width: 992px) {
  .blackBackground {
    ul.mainNav {
      > li {
        > a {
          padding: 30px 8px;
          transition: padding 0.5s;
        }

        &:before{
          opacity: 0!important;
          display: none;
        }
      }
    }

    .mainNavDropdown {
      top: calc($navHeight - 1px);
    }
  }

  ul.mainNav{
    > li {
      > a{
        padding: 30px 8px;
        font-size: 1.4rem;

        &:before{
          display: none;
        }
      }

      &:last-child >  a {
        font-size: 1.4rem;
        padding: 15px;
      }
    }
  }

  .mainNavDropdown {
    top: calc($navHeight - 1px);
  }
}

@media (max-width: 768px) {
  .blackBackground {
    ul.mainNav {
      > li {
        > a {
          padding: 5px;
        }

        &:last-child > a {
          padding: 15px;
        }

        &:last-child a:before {
          display: none;
        }
      }
    }
  }

  header.mainHeaderWrapper {
    max-height: 100%;
    overflow-y: scroll;
    padding: 5px 0px;
    background: $black_serverless;

    .logoWrapper{
      img{
        max-width: 124px;
      }

      svg {
        width: 124px;
        height: 21px;
        margin-top: 8px;
      }
    }

    nav{
      height: 0px;
      width: 100%;
      overflow: hidden;
      visibility: hidden;
      transition: all .4s;

      &.active {
        height: 100%;
        visibility: visible;
      }
    }

    .navBtn{
      display: flex;
      height: 16px;
      width: 16px;
      line-height: 16px;

      img {
        height: 16px;
        width: 16px;
      }
    }
  }

  ul.mainNav{
    margin: 0px;
    width: 100%;
    padding: 25px 0px !important;

    > li {
      > a {
        padding: 5px;
        &:before {
          left: -10px;
          height: 30px !important;
          top: 12px;
        }
      }

      &:last-child >  a {
        margin-top: 40px;
      }
    }

    li{
      display: block;
      text-align: left;
      margin-left: 50px;
      padding: 8px 0;
    }
  }

  .mainNavDropdown{
    width: 100%;
    position: static;
    margin: 15px 0px;
    padding: 20px;
    transform: translate(0%, 0%);
    box-shadow: none;
    background: $black_serverless;

    ul > li {
      margin-left: 0;
    }

    &.simpleDrop,
    &.platformDrop,
    &.devDrop,
    &.resourcesDrop {
      width: 100%;
      padding: 20px;
      height: auto;
      min-height: auto;
      max-height: auto;
    }

    &.devDrop{
      .devDropListWrapper{
        .devDropList{
          width: 100%;
        }
      }
    }

    &:before {
      display: none;
    }
  }
}
