.wrapper {
  background: $black1;
  min-height: calc(100vh - $navHeight);
}

.content {
  composes: content from '../../index.css';
  a {
    color: #222;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
  }
  padding-bottom: 100px;
}
.hero {
  max-width: 70rem;
  margin: auto;
  padding: 1rem 0.75rem;
  display:flex;
  margin-bottom: 70px;
}
.heroLeft {
  width: 40%;
}
.heroRight {
  grow: 1;
  width: 60%;
}
.center {
  text-align: center;
}

.copy {
  padding: 10px 0 10px;
  color: #fff;
  text-align: center;
  composes: oswald from "../../index.css";
}

.tagline {
  font-size: 35px;
}

.heading {
  font-size: 21px;
  margin: 0;
  font-weight: 400;
}

.subHeading {
  font-size: 21px;
  font-weight: 400;
  margin-top: 15px;
}

.ampersand {
  color: #ffe400;
  font-weight: 200;
  font-size: 30px;
  display: inline-block;
  margin: 0 10px;
}

.btn {
  outline: 0!important;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  border: none;
  border-radius: 3px;
  background-color: #141414;
  color: #ddd !important;
  font-weight: 200 !important;
  margin: 5px;
  text-transform: uppercase;
  font-family: Oswald;
  font-size: 20px;
  padding: 25px 35px;
  font-size: 22px;
  text-decoration: none;
}
@media (max-width: 1060px) {
  .hero {
    flex-direction: column;
    align-items: center;
  }
  .heroLeft, .heroRight {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .heading {
    font-size: 19px;
  }
  .tagline {
    font-size: 30px;
  }
  .hero {
    margin-bottom: 0px;
  }
  .subHeading {
    font-size: 27px;
    margin-top: 10px;
  }
  .email-ask {
    text-align: center;
  }
}
