
.wrapper {
  background: $black1;
  position: relative;
  display: flex;
  flex-direction: column;
}
.top {
  min-height: calc(100vh - $navHeight);
  position: relative;
}
.cta {
  flex-grow: 1;
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 93px;
  bottom: 30px;
  z-index: 6;
  flex-direction: column;
  background: url(../../assets/images/platform.gif) no-repeat 0 0;
  background-size: 300px;
}
.ctaCopy {
  composes: oswald from "../../index.css";
  color: #fff;
}
.canvas {
  position: absolute;
  top: 0px;
  height: 100vh;
  width: 100%;
}

.content {
  composes: content from '../../index.css';
  a {
    color: #222;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
  }
  padding-bottom: 100px;
}
.hero {
  composes: content from '../../index.css';
  width: 100%;
  margin: auto;
  padding: 0;
  display:flex;
  padding-top: 70px;
  position: relative;
  z-index: 9;
  overflow: hidden;
}
.bg {
  overflow: hidden;
  margin-bottom: 50px;
}
.bg:before {
  content: "";
  height: 450px;
  width: 120vw;
  position: absolute;
  background-image: linear-gradient(151.68343656401004deg, #fec83e 4.7%, #fdc63c 9.7%, #fec53c 9.7%, #fcba3b 40.2%, #fdb93b 40.2%, #fcb73a 45.6%, #fdb63a 45.6%, #fcb539 51.8%, #fdb43a 51.8%, #fcb23a 60.8%, #fdb13a 60.8%, #fcb039 65.5%, #fdaf3a 65.5%, #fca939 77.8%, #fca438 81.5%, #fda338 81.5%, #fc9d38 85.1%, #fc9437 92.7%, #fd9337 92.7%, #fc9236 94.5%, #fd9137 94.5%);
  transform: rotate(-2deg);
  top: 20px;
  left: -114px;
  z-index: 3;
}
.heroLeft {
  width: 40%;
}
$providerWidth: 370px;
.providers {
  display: inline-block;
  width: $providerWidth;
  height: 36px;
  background: url(../../assets/images/providers_black.png) no-repeat 0 0;
  text-indent: -4000px;
  background-size: $providerWidth;
}
.heroRight {
  width: 60%;
}

.learnMore {

}
.textarea {
  display: block;
  border: 2px solid $gray1;
  margin-left: 15px;
  width: 80%;
  min-height: 55px;
  font-size: 16px;
  padding: 5px;
  margin-top: 10px;
  &:focus {
    outline: none;
  }
}
.feedbackSubmit {
  margin-left: 10px;
  button {
    font-weight: 500;
  }
  button:hover {
    background: $yellow;
    color: $black1;
  }
}

.center {
  text-align: center;
}

.copy {
  padding: 10px 0 10px;
  color: #000;
  text-align: left;
  composes: oswald from "../../index.css";
}
.tagline:first-of-type {
    margin-top: 25px;
}
.tagline {
  font-size: 60px;
  font-weight: 400;
  padding: 0;
  margin: 48px 0px;
}
.tagline:last-of-type {
  margin-bottom: 45px;
}

.heading {
  font-size: 22px;
  margin: 0;
  font-weight: 400;
}

.subHeading {
 font-size: 31px;
 font-weight: 400;
 margin-top: 12px;
}

.ampersand {
  color: #fff;
  font-weight: 200;
  font-size: 30px;
  display: inline-block;
  margin: 0 10px;
}

.btn {
  outline: 0;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  border: none;
  border-radius: 3px;
  background-color: #141414;
  color: #ddd;
  font-weight: 200;
  margin: 5px;
  font-size: 20px;
  padding: 10px 25px;
  font-size: 18px;
  text-decoration: none;
}
.newsletter {
  background: $black1;
}
@media (max-width: 1060px) {
  .hero {
    flex-direction: column;
    align-items: center;
  }
  .heroLeft .copy {
    text-align:center;
  }
  .heroLeft, .heroRight {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .cta {
    position: relative;
    bottom:auto;
  }
}
@media (max-width: 768px) {
  .heading {
    font-size: 19px;
  }
  .hero {
    padding-top: 0px;
  }
   .heroRight {
     min-height: 277px;
   }
  .tagline {
    font-size: 30px;
    display: inline-block;
    margin: 0;
    &:last-of-type {
      margin-left:5px;
      margin-bottom: 15px;
    }
  }
  .cta {
    margin-top: 0px;
    background: $black1;
  }
  .hero {
    margin-bottom: 0px;
  }
  .providers {
    display: inline-block;
    width: 300px;
    height: 36px;
    background: url(../../assets/images/providers_white.png) no-repeat 0 0;
    text-indent: -4000px;
    background-size: 300px;
    margin-top: -10px;
    margin-bottom: 10px;
  }
  .subHeading {
    font-size: 27px;
    margin-top: 10px;
  }
  .email-ask {
    text-align: center;
  }
  .bg:before {
    width: 140vw;
    height: calc(100vh - $navHeight);
    transform: rotate(0deg);
    top: 0px;
  }
}
