.wrapper {
  background: $black1;
  min-height: calc(100vh - $navHeight);
  position: relative;
  display: flex;
  flex-direction: column;

}
.cta {
  flex-grow: 1;
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  composes: content from '../../index.css';

  a {
    color: #222;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
  }
  padding-bottom: 100px;
}
.hero {
  composes: content from '../../index.css';
    width: 100%;
  margin: auto;
  padding: 0;
  display:flex;
  padding-top: 40px;
}
.heroLeft {
  width: 40%;
}
.heroRight {
  width: 60%;
}

.learnMore {

}

.center {
  text-align: center;
}

.copy {
  padding: 10px 0 10px;
  color: #fff;
  text-align: left;
  composes: oswald from "../../index.css";
}
.tagline:first-of-type {
    margin-top: 25px;
}
.tagline {
  font-size: 60px;
font-weight: 400;
padding: 0;
margin: 48px 0px;
}
.tagline:last-of-type {
      margin-bottom: 60px;
}

.heading {
  font-size: 22px;
  margin: 0;
  font-weight: 400;
}

.subHeading {
 font-size: 31px;
 font-weight: 400;
 margin-top: 12px;
}

.ampersand {
  color: $yellow;
  font-weight: 200;
  font-size: 30px;
  display: inline-block;
  margin: 0 10px;
}

.btn {
  outline: 0!important;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  border: none;
  border-radius: 3px;
  background-color: #141414;
  color: #ddd !important;
  font-weight: 200 !important;
  margin: 5px;
  text-transform: uppercase;
  font-family: Oswald;
  font-size: 20px;
  padding: 25px 35px;
  font-size: 22px;
  text-decoration: none;
}
@media (max-width: 1060px) {
  .hero {
    flex-direction: column;
    align-items: center;
  }
  .heroLeft .copy {
    text-align:center;
  }
  .heroLeft, .heroRight {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .heading {
    font-size: 19px;
  }
  .hero {
    padding-top: 0px;
  }
  .tagline {
    font-size: 30px;
    display: inline-block;
    margin: 0;
    &:last-of-type {
      margin-left:5px;
      margin-bottom: 15px;
    }
  }
  .hero {
    margin-bottom: 0px;
  }
  .subHeading {
    font-size: 27px;
    margin-top: 10px;
  }
  .email-ask {
    text-align: center;
  }
}
