$shadow: 1px 1px 45px rgba(51, 51, 51, 0.35);
.padding {
  height: 7rem;
}
.hero {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10rem;
  padding-bottom: 0;
  text-align: center;
  font-family: "Gibson";
  font-size: 28px;
  font-weight: 300;
  line-height: 32px;
  text-align: justify;
  border: 1px solid #D6D6D6;
  color: #fff;
  background-color: #fff;
  margin-bottom: 70px;
  background-image: url(https://s3-us-west-2.amazonaws.com/assets.site.serverless.com/images/workshops/seattle.jpg);
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-origin: initial;
  background-clip: initial;
  background-color: #fff;
  min-height: 360px;
}
.opacity {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.26);
  top: 0;
  left: 0;
}
.title {
  position: relative;
  font-size: 100px;
  text-transform: uppercase;
  z-index: 2;
  text-shadow: $shadow;
}
.subtitle {
  position: relative;
  font-family: Gibson;
  font-size: 48px;
  line-height: 54px;
  text-align: center;
  z-index: 2;
  text-shadow: $shadow;
}

.fieldSet {
  display: flex;
  margin-bottom: 40px;
}
.fakeLabel {
  color: #000000;
  font-family: Gibson;
  font-size: 24px;
  line-height: 27px;
  text-align: right;
  width: 300px;
  margin-right: 45px;
}
.textArea {
  width: 450px;
  height: 250px;
  font-family: "Gibson";
  font-size: 16px;
  padding: 15px;
  border: 1px solid #949494;
  &:focus {
    border: 1px solid $black2;
    outline: none;
  }
}
.inputs {
  width: 300px;
}
.submit {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  max-width: 650px;
  margin: auto;
  margin-bottom: 150px;
}
.thanks {
  color: #000000;
  font-family: Gibson;
  font-size: 24px;
  font-weight: 300;
  line-height: 35px;
  text-align: center;
  a {
    color: #6c99d0;
  }
}


@media (max-width: 768px) {
  .title {
    font-size: 36px;
    margin-bottom: 0px;

  }
  .subtitle {
    font-size: 22px;
    line-height: 33px;
  }
  .hero {
    padding-top: 25px;
    min-height: 130px;
    margin-bottom: 20px;
  }
  .content {
    max-width: 100%;
    padding: 0px 20px;
  }
  .fakeLabel {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    font-size: 18px;
  }
  .fieldSet {
    width: 100%;
    flex-direction: column;
    margin-bottom: 25px;
  }
  .inputs, .textArea {
    width: 100%;
  }
}

