.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - $navHeight - $footerHeight)
}

.oops {
  font-size: 4rem;
  line-height: 4rem;
  color: #ddd;
}

.title {
  font-size: 2rem;
  text-align: center;
}
