.toolHero {
  padding-top: 10rem;
  padding-bottom: 5rem;
  text-align: center;
  border-bottom: 1px solid #BBBBBB;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.3);
  color: #fff;
  background-color: #FD574F;
  background-image: url("https://s3-us-west-2.amazonaws.com/assets.site.serverless.com/images/toolkit-ground.png");
  background-size: 100%;
  background-blend-mode: screen;
  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    padding-top: 10rem;
  }
}
.toolIcon {
  padding: 5rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.15);
}
.toolTitle {
  font-size: 2.8rem;
  line-height: 4.8rem;
  font-family: Serverless, monospace;
  @media screen and (min-width: 768px) {
    font-size: 4rem;
  }
}
