.wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  padding-top: 72px;
  background: #f7f7f7;
  font-family: 'Soleil';
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px 0 60px 0;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-family: 'SoleilSB';
  font-size: 32px;
}

.description {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  max-width: 800px;
  font-size: 19px;
  font-family: 'Soleil';
  letter-spacing: -.2px;
  line-height: 30px;
}

/**
 * Pricing Summary - Desktop
 */

.pricingSummary {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}

.pricingSummaryTile {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 840px;
  width: 33%;
  background: #ffffff;
  margin: 0px 14px 20px 14px;
  padding: 24px 32px 20px 32px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.18);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.07);
  transition: all 0.3s ease;
  user-select: none;
}

.pricingSummaryTile:hover {
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.15);
  transform: scale(1.005) translate3d(0, 0, 0) perspective(1px);
}

.pricingSummaryTile:first-child {
  margin-left: 0px;
}

.pricingSummaryTile:last-child {
  margin-right: 0px;
}

.pricingSummaryLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: 'Serverless';
  font-size: 18px;
  letter-spacing: -0.3px;
  background: #000000;
  border-radius: 3px;
  padding: 20px 10px;
}

.pricingSummaryLogoServerless {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Serverless';
  font-size: 20px;
  letter-spacing: -0.3px;
  color: #ffffff;
}

.pricingSummaryLogoFramework {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Serverless';
  font-size: 32px;
  margin-top: -2px;
  letter-spacing: -0.5px;
  color: #ffffff;
}

.pricingSummaryLogoEdition {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  font-family: 'Serverless';
  color: #fd5750;
  margin-top: 3px;
  letter-spacing: -0.1px;
}

.pricingSummaryDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.07);
}

.pricingSummaryDetail:last-child {
  border-bottom: none;
}

.pricingSummaryDetailEdition {
  font-size: 21px;
  font-family: 'SoleilSB';
  letter-spacing: -0.1px;
  color: #fd5750;
  transition: all 0.2s linear;
  text-align: center;
  padding: 14px 0 10px 0;
}

.pricingSummaryDetailPrice {
  font-size: 24px;
  font-family: 'SoleilSB';
  letter-spacing: -0.1px;
  color: #000000;
  transition: all 0.2s linear;
  text-align: center;
  padding: 24px 0 10px 0;
}

.pricingSummaryDetailText {
  font-family: 'SoleilLt';
  font-size: 16px;
  line-height: 25px;
  letter-spacing: -0.1px;
  text-align: center;
  padding: 8px 0 0 0;
}

.pricingSummaryDetailTitle {
  font-family: 'SoleilSB';
  text-transform: capitalize;
  font-size: 18px;
  letter-spacing: -0.3px;
  text-align: center;
  padding-top: 3px;
}

/**
 * Pricing Addons
 */

@media screen and (min-width: 1281px) {
  .addOns {
    flex-direction: row;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
  }

  .addOnTile {
    margin: 20px 0;
    width: 50%;
  }

  .addOnTile:first-child {
    margin-right: 26px;
  }
}

@media screen and (max-width: 1280px) {
 .addOns {
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
 }

 .addOnTile {
   margin: 20px 0;
   width: 100%;
 }
}

 .addOns {
   display: flex;
   box-sizing: border-box;
   width: 100%;
 }

 .addOnTile {
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   min-height: 100px;
   background: #ffffff;
   padding: 40px 32px 40px 32px;
   border-radius: 2px;
   border: 1px solid rgba(0, 0, 0, 0.18);
   box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.07);
   transition: all 0.3s ease;
   user-select: none;
 }

 .addOnTile:hover {
   box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.15);
   transform: scale(1.005) translate3d(0, 0, 0) perspective(1px);
 }

 .addOnTileServerless {
   display: flex;
   flex-direction: column;
   align-items: center;
   box-sizing: border-box;
   font-family: 'Serverless';
   font-size: 20px;
   line-height: 20px;
   color: #000;
 }

 .addOnTileAddOn {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   box-sizing: border-box;
   font-family: 'Serverless';
   font-size: 42px;
   color: #000;
 }

 .addOnTileDescription {
   display: flex;
   flex-direction: column;
   align-items: center;
   box-sizing: border-box;
   text-align: center;
   font-family: 'SoleilLt';
   font-size: 18px;
   line-height: 28px;
   color: #000;
   margin: 40px 0;
 }

.addOnTileAction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

/**
 * Pricing Summary - Mobile
 */

@media screen and (max-width: 1280px) {
  .pricingSummary {
    flex-direction: column;
    box-sizing: border-box;
  }

  .pricingSummaryTile {
    margin: 20px 0;
    width: 100%;
  }
}

/**
 * Pricing Table - Desktop
 */

.tableDesktop {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  margin: 0 0 50px 0;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.18);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.07);
  transition: all 0.3s ease;
}

.tableDesktop .tableSection {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tableDesktop .tableRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.tableDesktop .tableRow:last-child {
  border-bottom: none;
}

.tableDesktop .tableColumn {
  display: flex;
  flex-direction: column;
  width: 16%;
  padding: 20px 0 10px 0;
  text-align: center;
}

.tableDesktop .tableEditions {
  display: flex;
  flex-direction: row;
}

.tableDesktop .tableEditions .tableColumn {
  padding: 30px 0;
  color: #fd5750;
}

.tableDesktop .tableRowCategory {
  font-family: 'SoleilSB';
  font-size: 18px;
  background: #f2f2f2;
  border-bottom: none;
}

.tableDesktop .tableRowCategory .tableFeature {
  font-family: 'SoleilSB';
  font-size: 18px;
  line-height: auto;
}

.tableDesktop .tableFeature {
  width: 52%;
  font-family: 'Soleil';
  font-size: 16px;
  text-align: left;
  padding: 24px 0 14px 40px;
}

.tableDesktop .tableEditions {
  font-family: 'SoleilSB';
  font-size: 18px;
}

/**
 * Pricing Table - Mobile
 */

@media screen and (max-width: 992px) {
  .tableDesktop {
    display: none;
  }
  .tableMobile {
    display: flex !important;
  }
}

.tableMobile {
  display: none;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #ffffff;
  margin: 0 0 120px 0;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.18);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.07);
  transition: all 0.3s ease;
}

.tableMobile .tableSection {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tableMobile .tableRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-family: 'SoleilSB';
  font-size: 17px;
}

.tableMobile .tableRow .tableColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 5px;
}

.tableMobile .tableColumnCategory {
  font-family: 'SoleilSB';
  font-size: 18px;
  background: #f2f2f2;
}

.check {
  color: #fd5750;
  font-size: 22px;
}

.cross {
  color: rgba(0, 0, 0, 0.2);
  font-size: 28px;
  font-family: 'SoleilLt';
}

.limit {
  color: #fd5750;
  font-size: 18px;
  font-family: 'SoleilSB';
  letter-spacing: -0.5px;
}
