$height: 50px;

.emailForm {
  display: flex;
  align-items: stretch;

  button {
    width: 30%;
    min-width: 10rem;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-left: none;
    font-size: 1.5rem;
  }
}

.formControl {
  width: 70%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border: 1px solid transparent;
  height: $height;
  font-size: 1.5rem;
  font-family: inherit;
  font-weight: 300;
  color: $black2;
  background-color: $white;
  &:focus {
    outline: 0!important;
  }
}

.black {

  .formControl {
    border-color: black;
  }

  button {
    color: $black;

    &:hover {
      border-color: $black;
    }
  }
}
