$height: 50px;

.emailForm {
  display: flex;
}

.black {
  color: #272727;

  .formControl {
    border: 1px solid;
  }
  .btnAction {
    color: inherit;
    border-color: currentColor;
  }
}

.formGroup {
  width: 70%;
  padding-right: 1.6rem;
}
.formControl {
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 3px;
  background: 0 0;
  border: none;
  height: $height;
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 300;
  color: $black2;
  background-color: #fff;
  &:focus {
    outline: 0!important;
  }
}
@media (max-width: 768px) {
  .sl-email-inner {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .email-ask {
    text-align: center;
    padding:0;
    margin:0;
  }

}
