$height: 50px;

.emailForm {
  display: flex;
}

.formGroup {
  width: 70%;
  padding-right: 10px;
}
.formControl {
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border: none;
  height: $height;
  font-size: 1.8rem;
  font-family: inherit;
  font-weight: 300;
  color: $black2;
  background-color: $white;
  &:focus {
    outline: 0!important;
  }
}
