
.wrapper {
  position: relative;
}

.yellow {
  background-color: $yellow;
}

.white {
  background-color: #fff;
}

.black {
  background-color: $black1;
  color: #fff;
}

.inner {
  display: flex;
  align-items: center;
  padding: 3em 0 3em 0;
  margin: 0 auto;
  width: 60em;
}

.content {
  width: 100%;
  -ms-flex: 2;
}

.image {
  margin: 0 3em 2em 0;
  width: 35em;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.wrapper:nth-child(2n - 1) .inner {
  flex-direction: row-reverse;
  text-align: left;
}

.wrapper:nth-child(2n - 1) .image {
  margin: 0 0 2em 3em;
}
@media (max-width: 1060px) {
  .wrapper .inner {
    width: 100%;
    flex-direction: column !important;
  }
  .image {
    width: 50%;
    margin: 0 !important;
  }
  .content {
    width: 95%;
  }
}
@media (max-width: 768px) {
  .image {
    width: 70%;
    margin: 0 !important;
  }
}
