.homepage-video-player-wrapper video {
  width: 100% !important;
  height: 529px !important;
  outline: none;
}

.homepage-video-player-wrapper > div {
  width: auto !important;
  height: auto !important;
}

@media only screen and (min-width: 416px) and (max-width: 1024px) {
  .homepage-video-player-wrapper video {
    width: 613px !important;
    height: 328px !important;
  }
}

@media only screen and (max-width: 415px) {
  .homepage-video-player-wrapper video {
    width: 286px !important;
    height: 154px !important;
  }
}
