$shadow: 1px 1px 45px rgba(51, 51, 51, 0.35);
.heroWrapper {}
.navPadding {
  height: $navHeight;
}
.hero {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 6rem;
  padding-bottom: 0;
  font-family: "Gibson", sans-serif;
  font-size: 28px;
  font-weight: 300;
  line-height: 32px;
  text-align: justify;
  color: #fff;
  background-color: #fff;
  margin-bottom: 70px;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: initial;
  background-clip: initial;
  min-height: 280px;
}
.opacity {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.26);
  top: 0;
  left: 0;
}
.noTitle .opacity {
  background: transparent;
}
.title {
  position: relative;
  font-size: 75px;
  z-index: 2;
  text-shadow: $shadow;
}
.subtitle {
  position: relative;
  font-family: "Gibson", sans-serif;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  z-index: 2;
  text-shadow: $shadow;
}
