.bound {
  composes: bound from "../../index.css";
}
.boundMedium {
  composes: boundMedium from "../../index.css";
}
.boundSmall {
  composes: boundSmall from "../../index.css";
}
.toolHero {
  background-color: #159BBA;
  background-image: url("https://s3-us-west-2.amazonaws.com/assets.site.serverless.com/images/toolkit-ground.png"),
                    url("https://s3-us-west-2.amazonaws.com/assets.site.serverless.com/images/event-gateway-ground.svg");
  background-position: center top, center 65%;
  background-size: 100%, 94%;
  composes: toolHero from "../Framework/Framework.css";
}
.toolIcon {
  composes: toolIcon from "../Framework/Framework.css";
}
.toolTitle {
  composes: toolTitle from "../Framework/Framework.css";
}
.toolDescription {
  composes: toolDescription from "../Framework/Framework.css";
}
.sectionBreak {
  composes: sectionBreak from "../../index.css";
}
.sectionFeatures {
  margin-top: 8rem;
  composes: sectionFeatures from "../Framework/Framework.css";
}
.feature {
  composes: feature from "../Framework/Framework.css";
}
.featureTitle {
  composes: featureTitle from "../Framework/Framework.css";
}
.btn {
  composes: btn from "../Framework/Framework.css";
}
.btnGrey {
  composes: btnGrey from "../Framework/Framework.css";
}
