.page {
  max-width: 96rem;
  margin: auto;
  min-height: calc(100vh - $navHeight - $footerHeight);
  margin-top: 20px;
}

.fullWidth {
  width: 100%;
  overflow: hidden;
}

@media (max-width: 960px) {
  .page {
    padding: 0 10px;
  }
  .fullWidth {
    padding: 0px;
  }
}

@media (max-width: 768px) {

}
