/* Using global sytles is not recommended, prefer local styles via CSS Modules */

/**
 * Typography
 */
@import url('//fast.fonts.net/cssapi/8910c467-c1de-4614-8be3-d7c21abde84e.css');

/*
 * box model like it should be
 *
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
html { box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*
 * kill document defaults margin & padding. We all do that all the time, right ?
 */
html,
body {
  margin: 0;
  padding: 0;
}

/*
 * page styles
 */
html {
  min-height: 100%;
  background: #fff;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

body {
  font-size: 1rem;
  line-height: 1.5rem;
  /* system font https://medium.com/designing-medium/system-shock-6b1dc6d6596f */
  font-family: 'Avenir Next W00', sans-serif;
}

.phenomic-HeadingAnchor, .auth0-lock-badge-bottom, .auth0-lock.auth0-lock .auth0-lock-name {
  display: none;
}
.auth0-lock.auth0-lock .auth0-lock-header-logo {
  width: 189px !important;
  margin: 0px !important;
  height:auto!important;
}
.auth0-lock.auth0-lock .auth0-lock-header-bg {
  background: $black1 !important;
}
.auth0-lock.auth0-lock .auth0-lock-header {
  color: #fff !important;
  background: black !important;
}
.auth0-lock-header-bg-blur {
  display: none !important;
}
.auth0-lock.auth0-lock .auth0-lock-header-welcome {
    height: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.auth0-lock-widget {
  box-shadow: 0px 8px 0px 0px #000!important;
  transition: none!important;
}
.auth0-lock-overlay {
  background: rgba(0,0,0,0.8)!important;
}

/* Animations */
@keyframes fadeIn {
  from { opacity:0; } to { opacity:1; }
}

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

}
.fadeInLong {
  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}
.fadeInShort {
  -webkit-animation-duration:0.5s;
  -moz-animation-duration:0.5s;
  animation-duration:0.5s;
}

.hljs{display:block;background:white;padding:0.5em;color:#333333;overflow-x:auto;border: 1px solid #ddd}.hljs-comment,.hljs-meta{color:#969896}.hljs-string,.hljs-variable,.hljs-template-variable,.hljs-strong,.hljs-emphasis,.hljs-quote{color:#df5000}.hljs-keyword,.hljs-selector-tag,.hljs-type{color:#a71d5d}.hljs-literal,.hljs-symbol,.hljs-bullet,.hljs-attribute{color:#0086b3}.hljs-section,.hljs-name{color:#63a35c}.hljs-tag{color:#333333}.hljs-title,.hljs-attr,.hljs-selector-id,.hljs-selector-class,.hljs-selector-attr,.hljs-selector-pseudo{color:#795da3}.hljs-addition{color:#55a532;background-color:#eaffea}.hljs-deletion{color:#bd2c00;background-color:#ffecec}.hljs-link{text-decoration:underline}
