/** Localized Styles for app.js **/
.app {
  min-height: 100vh;
}
.content {
  min-height: calc(100vh);
  > div  {
    min-height: 90vh;
  }
}

.avenir {
  font-family: 'Avenir Next W00', sans-serif;
  font-weight: normal;
}
.bound {
  width: 100%;
  max-width: 124rem;
  margin-left: auto;
  margin-right: auto;
}
.boundSmall {
  width: 100%;
  max-width: 88rem;
  margin-left: auto;
  margin-right: auto;
}
.boundSmaller {
  width: 100%;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}
