/** Localized Styles for app.js **/
.app {
  min-height: 100vh;
}
.content {
  min-height: calc(100vh);
  > div  {
    min-height: 90vh;
  }
}

.avenir {
  font-family: 'Avenir Next W00', sans-serif;
  font-weight: normal;
}
.bound {
  width: 100%;
  max-width: 124rem;
  margin-left: auto;
  margin-right: auto;
}
.boundSmall {
  width: 100%;
  max-width: 88rem;
  margin-left: auto;
  margin-right: auto;
}
.boundSmaller {
  width: 100%;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}
.sectionBreak {
  height: 10rem;
  background-image: url("https://s3-us-west-2.amazonaws.com/assets.site.serverless.com/icons/section-break.png");
  background-size: cover;
}
@font-face {
  font-family: "Serverless";
  font-weight: normal;
  font-style: normal;
  src: local("Serverless"),
  local("Serverless-Regular"),
  url("https://s3-us-west-2.amazonaws.com/assets.site.serverless.com/fonts/serverless-regular-v3.otf") format("opentype");
}
