/* Using global sytles is not recommended, prefer local styles via CSS Modules */

/**
 * Typography
 */

/*
 * box model like it should be
 *
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
html { box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*
 * kill document defaults margin & padding. We all do that all the time, right ?
 */
html,
body {
  margin: 0;
  padding: 0;
}

/*
 * page styles
 */
html {
  min-height: 100%;
  background: #fff;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

body {
  font-size: 1rem;
  line-height: 1.5rem;
  /* system font https://medium.com/designing-medium/system-shock-6b1dc6d6596f */
  font-family: 'Avenir Next W00', sans-serif;
}

.phenomic-HeadingAnchor, .auth0-lock-badge-bottom, .auth0-lock.auth0-lock .auth0-lock-name {
  display: none;
}
.auth0-lock.auth0-lock .auth0-lock-header-logo {
  width: 189px !important;
  margin: 0px !important;
  height:auto!important;
}
.auth0-lock.auth0-lock .auth0-lock-header-bg {
  background: $black1 !important;
}
.auth0-lock.auth0-lock .auth0-lock-header {
  color: #fff !important;
  background: black !important;
}
.auth0-lock-header-bg-blur {
  display: none !important;
}
.auth0-lock.auth0-lock .auth0-lock-header-welcome {
    height: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.auth0-lock-widget {
  box-shadow: 0px 8px 0px 0px #000!important;
  transition: none!important;
}
.auth0-lock-overlay {
  background: rgba(0,0,0,0.8)!important;
}
