/** Localized Styles for app.js **/
.app {
  min-height: 100vh;
}
.content {
  min-height: calc(100vh);
  > div  {
    min-height: 90vh;
  }
}

.avenir {
  font-family: 'Avenir Next W00', sans-serif;
  font-weight: normal;
}
