.learnWrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-flow:row wrap;
  max-width: 100%;
  position: relative;
  z-index: 3;
  a {
    border: none !important;
  }
  > div {
    box-shadow: 0 0 3px rgba(0,0,0,.2);
    margin-right: 20px;
    padding: 10px !important;
    margin-top: 20px;
    margin-bottom: 20px;
    &:hover {
      background: #f5f7f9;
    }
    ul {
      width: 100%;
      padding-right: 0px;
      padding-left: 30px;
    }
  }
}

.learnSquare {
  max-width: 22rem;
  width: 100%;
}

.resourceLabel {
  text-align: center;
  font-weight: 600;
}
