.base {
  min-height: calc(100vh - $navHeight);
}

.learnPage {
  display: flex;
  max-width: 850px;
  margin: 8rem auto 0 auto;
  font-family: Gibson, Avenir, sans-serif;
  line-height: 1.6;

  h1, h2, h3, h4, strong {
    font-family: Avenir, Gibson, sans-serif;
    margin-top: 30px;
    margin-bottom: 5px;
  }
  a {
    color: $black2;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    font-weight: 400;
  }
  p, li {
    font-size: 18px;
  }
  ul li p:first-of-type {
    margin: 0px;
  }
  margin-top: $navHeight;
  margin-bottom: 50px;
}

.navWrapper {
  min-width: 200px;
  margin-top: 90px;
}

.navInner {
  margin-left: 25px;
  margin-top: 15px;
}

.navLink {
  font-size: 1.7rem;
  margin: 4px;
  padding-bottom: 10px;
}

.navLink a {
  border-bottom: none;
}

.contentWrapper {
  width: 100%;
  padding: 20px;
  overflow: auto;
}

.title {
  font-family: Serverless, monospace !important;
  font-weight: 100;
  text-align: center;
}

.description {
  font-style: italic;
}

blockquote {
  font-style: italic;
}

@media (max-width: 760px) {
  .learnPage {
    margin-top: calc($mobileNavHeight - 1px);
  }
  .title {
    font-size: 23px;
  }
  .learnPage {
    flex-direction: column;
  }
  .learnPage, .contentWrapper, .navWrapper {
    width: unset;
    max-width: 100%;
  }
  .navWrapper {
    margin-top: 10px;
    text-align: center;
  }
  .contentWrapper {
    padding: 0 15px;
    margin-bottom: 50px;
  }
}
