.heroSectionWrapper{
  padding: calc($navHeight + 50px) 0px;
  background-color: $black_serverless;
  background-position: center center;

  .noLink {
    pointer-events: none;
    cursor: default;
  }

  .heroContainer{
    > h2{
      font-size: 4rem;
      margin-bottom: 0px;
      line-height: 1.25;
      letter-spacing: -1.3px;
      font-weight: normal;
    }

    > h1{
      font-size: 7.5rem;
      font-weight: normal;
      letter-spacing: -1.7px;
      margin-bottom: 0px;
      line-height: 1.33;

      &.medium{
        font-size: 6.5rem;
        letter-spacing: -0.17rem;
      }
    }

    .helfPad, .midWrapper {
      max-width: 800px;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 35px;
      margin: auto;
    }
  }

  .heroDesc{
    font-family: 'SoleilBk';
    padding: 40px 0px;
    font-size: 2.8rem;
    line-height: 1.46;
    color: $white_serverless;
  }

  .heroPrimeImage{
    padding-top: 15px;
    padding-bottom: 25px;

    img{
      max-width: 100%;
      margin: auto;
      display: block
    }

    &:first-child img {
      max-height: 67px;
    }

    &.innerMainImage{
      padding-top: 0px;
      padding-bottom: 80px;
    }
  }

  &.platformInnerHero{
    .heroDesc{
      padding: 20px 0px;
    }

    .heroContactWrapper{
      padding-top: 30px;
      padding-bottom: 40px;
    }

    .heroContainer {
      > h2 {
        font-size: 5rem;
        font-weight: normal;
        line-height: 1;
        letter-spacing: -1.1px;
      }

      > h1 {
        font-size: 9rem;
        font-weight: normal;
        line-height: 1.11;
        letter-spacing: -2px;
      }

      .heroDesc {
        font-size: 2.4rem;
        font-weight: normal;
        line-height: 1.33;
      }

      .midWrapper p, .heroBullets p {
        font-size: 1.6rem;
        font-weight: normal;
        line-height: 1.5;
        letter-spacing: normal;
      }
    }
  }

  &.platformBg{
    background-image: url('../../assets/images/harddrive.png');
  }

  &.platformDashboardBg{
    background-image: url('../../assets/images/platform-dash-bg.png');
  }
}

.heroBulletsWrapper, .heroBulletsAlternate{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: auto;
  color: $white_serverless;

  .heroBullets{
    width: 33.3%;
    text-align: center;

    figure{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 106px;
      position: relative;

      img {
        max-height: 106px;
        max-width: 100px;
      }
    }

    a{
      display: inline-block;
      cursor: pointer;
    }

    h4{
      font-size: 2rem;
      line-height: .7;
      letter-spacing: .08px;
      font-weight: normal;
      padding: 10px 0px;
      margin-bottom: 0px;
    }

    h3{
      font-size: 3.2rem;
      line-height: 1;
      letter-spacing: .13rem;
    }
  }

  .heroBullets:nth-of-type(2){
    figure{
      &:before{
        content: " ";
        position: absolute;
        top: 50%;
        right: 130%;
        margin-top: -1px;
        height: 20px;
        width: 180px;
        background: url('../../assets/images/bullet-left-marker.png') no-repeat;
        background-position: center center;
      }

      &:after{
        content: " ";
        position: absolute;
        top: 50%;
        left: 130%;
        margin-top: -1px;
        height: 20px;
        width: 180px;
        background: url('../../assets/images/bullet-right-marker.png') no-repeat;
        background-position: center center;
      }
    }
  }
}

.heroBulletsAlternate {
  .heroBulletsWrapper {
    overflow: hidden;
    .heroBullets{
      width: 100%;
      margin-bottom: 30px;
    }
  }

  width: 100%;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 80px;

  .heroBullets{
    text-align: left;
    padding: 0px 25px;

    span{
      font-family: 'SoleilBk';
      font-size: 2.4rem;
      line-height: 1.33;
      letter-spacing: -0.04rem;
      position: relative;
      z-index: 10;

      &:before{
        content: " ";
        position: absolute;
        top: -12px;
        left: -10px;
        width: 45px;
        height: 26px;
        background: url('../../assets/images/dot-grid.png');
        z-index: -1;
      }
    }

    p{
      font-family: 'SoleilBk';
      line-height: 1.67;
      font-size: 1.8rem;
      font-weight: normal;
      margin-top: 25px;
    }

    &:first-of-type{
      padding-left: 0px;
    }

    &:last-of-type{
      padding-right: 0px;
    }
  }
}

.heroContactWrapper{
  padding: 80px 0px;

  .btn{
    margin-right: 30px;
    width: 100%;
    max-width: 280px;

    &:last-of-type{
      margin-right: 0px;
    }
  }
}

.sectionSeperator img {
  height: 160px;
  width: 100%;
  object-fit: contain;
}

.heroClientsWrapper{
  p{
    font-family: 'SoleilBk';
    font-size: 1.8rem;
    line-height: 1.33;
    letter-spacing: -0.03rem;
  }

  .cloudProvider {
    opacity: 0.3;
    font-family: 'SoleilBk';
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: $white_serverless;
    text-align: center;
    margin-top: 7rem;
    padding-bottom: 10px;
  }

  .clientList{
    margin: 0;
    padding: 0 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 40px;

    li{
      display: inline-block;
    }
  }
}

@media (max-width: 992px) {
  .heroSectionWrapper {
    .heroContainer {
      .heroClientsWrapper {
        &.midWrapper {
          padding: 0 8%;
        }

        .clientList {
          padding: 0 2rem;
        }

        .cloudProvider {
          margin-top: 2rem;
        }

        .topCloudProviders {
          padding: 40px;
        }
      }
    }
  }

  .heroBulletsWrapper{
    .heroBullets{
      overflow: hidden;
    }
  }
}

@media (max-width: 768px) {
  .sectionSeperator {
    display: none;
  }

  .heroSectionWrapper{
    padding: 40px 0px;

    .heroContainer{
      .heroDesc{
        font-size: 1.6rem;
        padding: 10%;
      }

      .helfPad {
        font-size: 2.4rem;
        font-weight: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: center;
      }

      > h2{
        font-size: 2.4rem;
      }

      > h1{
        font-size: 4.2rem;

        &.medium{
          font-size: 4.2rem;
        }
      }
    }

  }

  .heroBulletsWrapper, .heroBulletsAlternate{
    overflow: hidden;

    .heroBullets:nth-of-type(2) {
      figure {
        &:before, &:after {
          background: none;
        }
      }
    }

    .heroBullets{
      width: 100%;
      margin-bottom: 30px;
      text-align: center;

      span {
        text-align: center;

        &:before {
          left: -16px;
          top: -14px;
        }
      }
    }
  }

  .heroContactWrapper{
    padding: 20px 0px;

    .btn{
      margin: auto;
      margin-bottom: 30px;
    }
  }

  .heroClientsWrapper{
    &.midWrapper {
      padding: 0 8%;
      p {
        font-size: 1.6rem;
        line-height: 1.5;
        text-align: center;
      }
    }

    .clientList{
      display: block;
      padding: 1rem 0;
      li{
        display: block;
        width: 100%;
        padding: 1.5rem 0px;
        text-align: center;
      }
    }
  }

  .heroBulletsAlternate{
    padding-top: 60px;
    padding-bottom: 20px;

    .heroBullets{
      padding: 0px 25px;

      &:first-of-type,
      &:last-of-type{
        padding: 0px 25px;
      }
    }
  }
}

.whiteSectionWrapper{
  padding: 100px 0px;

  .sectionHighlight{
    font-family: 'SoleilSb';
    font-size: 4rem;
    line-height: 1.63;
    font-weight: normal;
    letter-spacing: normal;
    text-align: center;
    color: $black_serverless;

    &.width90{
      width: 90%;
      margin:auto;
    }

    &.padBtm{
      padding-bottom: 60px;
    }
  }

  .whiteSectionContainer{
    > h3{
      font-family: 'SoleilBk';
      padding: 60px 0px;
      text-align: center;
      font-size: 2.4rem;
      font-weight: normal;
      letter-spacing: -0.4px;
      margin-bottom: 15px;
    }
  }
}

.bulletsWrapper{
  ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
    padding: 0px;


    li{
      width: 33.33%;
      display: block;
      text-align: center;
      padding: 0 30px;

      figure{
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;

        img{
          margin-bottom: 0px;
          width: 90%;
        }
      }

      img{
        margin-bottom: 30px;
      }

      h4{
        font-family: 'SoleilBk';
        font-weight: normal;
        font-size: 3.2rem;
        letter-spacing: -.05px;
        line-height: 1.13;
        margin-bottom: 20px;
      }

      p{
        font-family: 'Soleil';
        color: $grey1_serverless;
        font-size: 1.8rem;
        line-height: 1.67;
      }

      .btn{
        width: 100%;
        max-width: 280px;
      }
    }
  }

  &.serverlessBulletsWrapper{
    ul{
      li{
        padding: 0 15px;

        figure{
          img{
            width: auto;
          }
        }

        p{
          padding-bottom: 20px;
        }

        &:first-of-type{
          padding-left: 0px;
        }

        &:last-of-type{
          padding-right: 0px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .heroSectionWrapper{
    margin-top: $mobileNavHeight;
  }

  .whiteSectionWrapper{
    padding: 80px 0;

    .whiteSectionContainer{
      > h3{
        font-size: 1.2rem;
        line-height: 1.33;
        color: $grey2_serverless;
        letter-spacing: normal;
        padding: 20px 0px;
      }
    }

    .sectionHighlight{
      font-size: 3.2rem;
      line-height: 36px;

      &.padBtm{
        padding-bottom: 20px;
      }
    }

    .bulletsWrapper{
      ul{
        li{
          width: 100%;
          padding-left: 10px;
          padding-right: 10px;
          padding-top: 30px;
        }
      }

      &.serverlessBulletsWrapper{
        ul{
          li{
            figure{
              width: 80%;
              margin: auto;
              height: 280px;
              img{
                margin: auto;
              }
            }
            h4{
              margin-bottom: 10px;
            }
            p{
              padding-bottom: 15px;
            }
            &:first-of-type,
            &:first-of-type{
              padding-left: 10px;
              padding-right: 10px;
            }
          }
        }
      }
    }
  }
}

.patternSectionWrapper{
  padding: 80px 0px;
  background: url('../../assets/images/rectangle-19.png') repeat;
}

.clientsWrapper{
  h4{
    font-family: 'SoleilBk';
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 2.4rem;
    letter-spacing: -0.4px;
    line-height: 1;
    text-align: center;
  }

  .clientList{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 40px 0px;
    margin: 0px;

    li{
      display: inline-block;
    }
  }

  .trustedBy {
    padding: 2% 10%;
  }
}

.footerPrevPad{
  padding-bottom: 200px;
}

@media (max-width: 768px) {
  .heroMainImage {
    display: none;
  }

  .patternSectionWrapper{
    background: none;
  }

  .clientsWrapper{
    padding-top: 0;
    background-color: $white_serverless;

    .clientList{
      li{
        width: 100%;
        text-align: center;
        padding-bottom: 15px;
      }
    }

    .trustedByContainer {
      padding-top: 80px;
      .trustedBy {
        padding: 2% 0;

        li {
          padding-bottom: 25px;

          img {
            max-height: 41px;
          }
        }
      }
    }
    &.footerPrevPad{
      padding-bottom: 0px;
    }
  }

  .footerPrevPad{
    padding-bottom: 80px;
  }
}
