.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 0;
  color: #242424;
}
.bound {
  composes: bound from "../../index.css";
}
.boundSmall {
  composes: boundSmall from "../../index.css";
}
.boundSmaller {
  composes: boundSmaller from "../../index.css";
}
.top {
  position: relative;
}
.logoWrapper {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}
.providerLogos {
  margin: auto;
  filter: invert(0.5);
}
.hero {
  position: inherit;
  display: flex;
  align-items: center;
  padding: 10rem 2.4rem 2rem;
  width: 100%;
  @media screen and (min-width: 768px) {
    min-height: 55rem;
  }
}
.tagline {
  width: 100%;
  margin-bottom: 3.3rem;
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
  @media screen and (min-width: 768px) {
    margin-bottom: 4rem;
    font-size: 4.8rem;
  }
}
.heroDescription {
  max-width: 59rem;
  margin-top: 0;
  font-size: 1.6rem;
  text-align: justify;

  @media screen and (min-width: 768px) {
    font-size: 2.4rem;
  }
}
.introSecondary {

}
.introSecondaryText {
  margin-top: 3rem;
  padding-right: 0;
  padding-left: 0;
  font-size: 1.6rem;
  text-align: justify;
  ;

  @media screen and (min-width: 768px) {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    font-size: 2.4rem;
    font-weight: 300;
  }
}
.heroCTAs {
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
}
.toolkitSection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
  padding-top: 2.5rem;
  padding-bottom: 2.55rem;
  background: url("https://s3-us-west-2.amazonaws.com/assets.site.serverless.com/images/home-toolkit-ground.svg") no-repeat center center / cover;
  ;
  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
  }
}
.toolCard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
  border: 1px solid #F26D61;
  background-color: #fff;
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,0.12);
  ;

  @media screen and (min-width: 768px) {
    max-width: 42rem;
    margin: 6rem 4.5rem 6rem;
    ;
    a {
      margin: 4rem 0 2rem auto;
    }
  }
}
.toolCardTop {
  text-align: center;
}
.toolCardTitle {
  margin-top: 3.2rem;
  font-size: 3rem;
  font-weight: normal;
  font-family: Serverless, monospace;
  ;
  img {
    width: 2.5rem;
    margin-right: 1.5rem;
  }
}
.toolCardIcon {
  display: inline-block;
  width: 13rem;
  height: 13rem;
  padding: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-radius: 50%;
  background-color: #FD5750;
  ;

  @media screen and (min-width: 768px) {
    width: 16.6rem;
    height: 16.6rem;
    margin-top: 4.2rem;
    margin-bottom: 4.7rem;
    padding: 3rem;
  }
}
.toolCardTagline {
  font-size: 2rem;
  font-weight: 600;
}
.toolCardFramework {
  background-color: #FD5750;
  color: white;
  ;
  .toolCardIcon {
    background-color: rgba(255, 255, 255, 0.15);
  }
}
.sectionHeading {
  margin-top: 6rem;
  margin-bottom: 3rem;
  font-size: 2.4rem;
  text-align: center;
  color: #464646;
  ;
  @media screen and (min-width: 768px) {
    margin-bottom: 6rem;
    font-size: 3rem;
  }
}
.sectionBreak {
  composes: sectionBreak from "../../index.css";
}
.featuresColumns {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 6rem;
  ;

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    margin-bottom: 6rem;
  }
}
.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 44rem;
  margin-bottom: 4rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;

  @media screen and (min-width: 768px) {
    width: calc(100% / 3);
    margin-bottom: 0;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
.featureIcon {
  width: 12rem;
  height: 12rem;
  margin-bottom: 3rem;
  ;

  @media screen and (min-width: 768px) {
    margin-bottom: 4rem;
  }
}
.featureName {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0;
  color: #464646;
  ;

  @media screen and (min-width: 768px) {
    font-size: 2.4rem;
  }
}
.featureDescription {
  font-size: 1.6rem;
  ;

  @media screen and (min-width: 768px) {
    font-size: 1.8rem
  }
}
.testimonialSection {
  margin-top: 6rem;

  @media screen and (min-width: 768px) {
    margin-top: 12rem;
    margin-bottom: 6rem;
  }
}
.testimonial {
  max-width: 90%;
  margin-top: 7.5rem;
  margin-bottom: 5rem;
  padding-left: 1rem;
  ;

  @media screen and (min-width: 768px) {
    max-width: 88rem;
    padding-left: 2.4rem;
  }
}
.testimonialText {
  position: relative;
  z-index: 1;
  font-size: 1.4rem;
  color: #464646;
  @media screen and (min-width: 768px) {
    font-size: 2.6rem;
  }
}
.testimonialGround {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #F7F7F7;
  transform: skew(-15deg);

  &:after {
    content: "";
     display: block;
     width: 100%;
     height: 100%;
     border: 2px dotted #575757;
     position: absolute;
     top: -1rem;
     left: 1rem;
     z-index: 1;
 }
}
.testimonialTextBlock {
  position: relative;
  max-width: 80rem;
  z-index: 2;
  padding: 0.75rem 3rem 2rem 4rem;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    padding: 0.75rem 9rem 2rem;
  }
}
.testimonialMeta {
  margin-top: 2rem;
  text-align: right;
  color: #484848;
}
.testimonialAuthor {
  margin: 0;
  font-size: 2.4rem;

  &:before {
    content: "- "
  }
}
.testimonialAuthorTitle {
  font-size: 1.8rem;
  margin: 0;
}
.newsletterSection {
  max-width: 110rem;
  padding-right: 0;
  padding-left: 0;
  ;

  @media screen and (min-width: 768px) {
    margin-bottom: 6.4rem;
    padding-right: 2.4rem;
    padding-left: 2.4rem;
  }
}
