.bound {
  composes: bound from "../../index.css";
}
.boundLarge {
  composes: boundLarge from "../../index.css";
}
.boundMedium {
  composes: boundMedium from "../../index.css";
}
.boundSmall {
  composes: boundSmall from "../../index.css";
}

.wrapper {
  background: #000000;
  color: #ffffff;
}

.hero {
  position: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 10rem;
  @media screen and (min-width: 768px) {
    min-height: 55rem;
  }
}

.heroText {
  width: 100%;
}

.heroTextServerless {
  font-family: Serverless, monospace;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
}

.heroTextPlatform {
  font-family: Serverless, monospace;
  font-size: 50px;
  color: #ffffff;
  text-align: center;
}

.heroTextTagline {
  font-family: Soleil, Ariel;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  padding-top: 40px;
}
