.nav {
  position: fixed;
  z-index: 1000;
  flex-direction: row;
  justify-content: center;
  min-height: 72px;
  background: #000000;
  color: #ffffff;
  user-select: none;
}

.nav-inner {
  -webkit-animation: fadeIn 0.5s;
  -moz-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
  animation-fill-mode: backwards;
}

.nav-logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 30%;
  padding-top: 2px;
}

.nav-logo img {
  height: 24px;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100%;
  width: 70%;
  padding-top: px;
  font-family: 'SoleilBk';
}

.nav-item {
  display: flex;
  padding: 6px 12px;
  font-family: 'SoleilSB';
  font-size: 15px;
  color: rgba(255,255,255,0.5);
  transition: all 0.2s ease;
}

.nav-item:last-child {
  padding-right: 0px;
}

.nav-item:hover {
  cursor: pointer;
  color: rgba(255,255,255,1);
}

.nav-item:active {
  cursor: pointer;
  color: rgba(255,255,255,0.5);
}

.nav-sign-in {
  padding-left: 24px;
  margin-left: 16px;
  color: #fd5750;
  border-left: 1px solid rgba(255,255,255,0.4);
}

.nav-sign-up {
  color: #fd5750;
}

.nav-contact-sales{
  color: #fd5750;
}
