.patternSectionWrapper{
  padding: 80px 0px;
  background: url('../../assets/images/rectangle-19.png') repeat;
}

.clientsWrapper{
  h4{
    font-family: 'SoleilBk';
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 2.4rem;
    letter-spacing: -0.4px;
    line-height: 1;
    text-align: center;
  }

  .clientList{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 40px 0px;
    margin: 0px;

    li{
      display: inline-block;
    }
  }

  .trustedBy {
    padding: 2% 10%;

    li > img {
      max-height: 50px;
    }
  }
}

.footerPrevPad{
  padding-bottom: 200px;
}

@media (max-width: 1200px) {
  ul.trustedBy {
    flex-wrap: nowrap !important;

    li > img {
      max-width: 80%;
    }
  }
}

@media (max-width: 768px) {
  .heroMainImage {
    display: none;
  }

  .patternSectionWrapper{
    background: none;
  }

  .clientsWrapper{
    padding-top: 0;
    background-color: $white_serverless;

    .clientList{
      li{
        width: 100%;
        text-align: center;
        padding-bottom: 15px;
      }
    }

    .trustedByContainer {
      padding-top: 0;
      .trustedBy {
        flex-wrap: wrap !important;
        padding: 35px 0;

        li {
          padding-bottom: 25px;

          img {
            width: auto;
            max-height: 41px;
          }
        }
      }
    }
    &.footerPrevPad{
      padding-bottom: 0px;
    }
  }

  .footerPrevPad{
    padding-bottom: 80px;
  }
}
