.base {
  min-height: calc(100vh - $navHeight);
}
.page {
  max-width: 96rem;
  margin: 8rem auto 0 auto;
  font-family: Gibson, Avenir, sans-serif;
  line-height: 1.6;

  h1, h2, h3, h4, strong {
    font-family: Avenir, Gibson, sans-serif;
  }
  img {
    max-width: 100%;
  }
  a {
    color: $black2;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    font-weight: 400;
  }
}
.fullWidth {
  width: 100%;
}

.hero {
  position: relative;
  border-bottom: 1px solid #BBBBBB;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.3);
  color: #fff;
  background: #FD574F no-repeat center center / cover;
  @media screen and (min-width: 768px) {
    min-height: 60rem;
  }
}

@media (max-width: 960px) {
  .page {
    padding: 0 10px;
  }
  .fullWidth {
    padding: 0px;
  }
}

@media (max-width: 768px) {

}
