.test {
  a {
    color: $black2;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.5);
  }
}
.page {
  max-width: 96rem;
  margin: 20px auto 0 auto;
  min-height: calc(100vh - $navHeight - $footerHeight);
  img {
    max-width: 100%;
  }
}
.fullWidth {
  width: 100%;
}

@media (max-width: 960px) {
  .page {
    padding: 0 10px;
  }
  .fullWidth {
    padding: 0px;
  }
}

@media (max-width: 768px) {

}
