.user-tweets {
  height: auto;
  min-height: 300px;
  user-select: none;
  padding: 68px 10px;
  background: #f7f7f7;
  color: #000000;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.user-tweets-inner {
  flex-direction: column;
}

.user-tweets-tweets {
  flex-direction: row;
}

.user-tweets-tweet:first-child {
  margin-left: 0;
}

.user-tweets-tweet:last-child {
  margin-right: 0;
}

.user-tweets-tweet {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 370px;
  width: 25%;
  background: #ffffff;
  margin: 20px 8px;
  padding: 22px 22px 42px 22px;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}

.user-tweets-tweet:hover {
  cursor: pointer;
  transform: scale(1.03) translate3d( 0, 0, 0) perspective(1px);
}

.user-tweets-tweet:active {
  cursor: pointer;
  transform: scale(1) translate3d( 0, 0, 0) perspective(1px);
}

.user-tweets-tweet-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  width: 100%;
  margin-bottom: 24px;
  padding: 0 12px;
  font-family: 'SoleilBk';
  font-size: 18px;
}

.user-tweets-tweet-name img {
  height: auto;
  width: 30px;
  margin-right: 12px;
}

.user-tweets-tweet-text {
  padding: 0 12px;
  font-size: 15px;
  font-family: 'SoleilLt';
  line-height: 24px;
}

.user-tweets-tweet-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 10px;
  opacity: 0.3;
}
