.bound {
  width: 100%;
  max-width: 142.4rem;
  margin-left: auto;
  margin-right: auto;
  padding-right: 2.4rem;
  padding-left: 2.4rem;

  .boundMedium, .boundSmall {
    padding-left: 0;
    padding-right: 0;
  }
}
.boundLarge {
  max-width: 124rem;
  composes: bound;
}
.boundMedium {
  max-width: 96rem;
  composes: bound;
}
.boundSmall {
  max-width: 64rem;
  composes: bound;
}
.sectionBreak {
  position: relative;
  border-bottom: 2px dashed #575757;
  transform: skewY(-3.5deg);
  &:after {
    content: "";
    position: absolute;
    background: url(https://s3-us-west-2.amazonaws.com/assets.site.serverless.com/logos/serverless-logo.svg) no-repeat top center / 3rem,
                 linear-gradient(to bottom, #fff 0%,#fff 100%);
    width: 4rem;
    height: 3rem;
    transform: skewY(3.5deg);
    left: 50%;
    top: -1rem;
  }
}

.sectionFeatures {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 80px;
  text-align: center;
}
.feature {
  margin: 0 auto 2rem;

  @media screen and (min-width: 1024px) {
    width: calc(100% / 3);
    margin-bottom: 6rem;
    padding-left: 3rem;
    padding-right: 3rem;

    p {
      font-size: 1.6rem;
      font-weight: 300;
      line-height: 2.7rem;
    }
  }

  p {
    max-width: 31.4rem;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
.featureIcon {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 12rem;
  height: 12rem;
  margin-bottom: 3rem;
  @media screen and (min-width: 768px) {
    margin-bottom: 4rem;
  }
}

.featureTitle {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  line-height: 2rem;

  @media screen and (min-width: 768px) {
    font-size: 2.4rem;
    line-height: 2.7rem;
  }
}
